<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Custom Theme">
    <!-- BEGIN SHORTCUT ICON -->
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">
    <!-- END SHORTCUT ICON -->
    <title>
        PAR - CHECK 并行核对系统
    </title>

    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/css/bootstrap-reset.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/assets/font-awesome/css/font-awesome.css" rel="stylesheet"><!-- 字体 CSS -->
    <link href="__PUBLIC__/css/style.css" rel="stylesheet"><!-- 主题 CSS -->
    <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet"><!-- THEME RESPONSIVE CSS -->
    <link href="__PUBLIC__/css/sco.message.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.js"></script>
    <script src="__PUBLIC__/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">

    </script>
</head>
<script type="text/javascript">
    var HOST = "__HOST__";
</script>

<body class="login-screen" onbeforeunload="unbindLog()">
<div class="container">
    <form class="form-signin">
        <button class="btn btn-danger" style="font-size:35px;margin-left: -250pt">
            <strong>您没有权限登录此系统，请确认您的账号所属系统，使用正确地址登录</strong>
        </button>
    </form>
    <h2 style="color: #FFF;text-align: left">
    上线比对系统：http://10.1.98.5<br /><br />
    并行比对系统：http://10.1.98.5/BX<br /><br />
    总结系统：http://10.1.98.5/WorkSum
    </h2>
</div>
<!--<script src="__PUBLIC__/js/jquery.js" ></script>&lt;!&ndash; BASIC JQUERY LIB. JS &ndash;&gt;-->
<script src="__PUBLIC__/js/bootstrap.min.js"></script><!-- BOOTSTRAP JS -->
<script src="__PUBLIC__/js/md5.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/sco.message.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/index/login.js"></script>
</body>
</html>

