<!DOCTYPE html>
<html lang="en">
<head>
    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Olive Enterprise">
    <!-- END META -->

    <!-- BEGIN SHORTCUT ICON -->
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">
    <!-- END SHORTCUT ICON -->
    <title>
        {$TITLE}
    </title>
    <!-- BEGIN STYLESHEET-->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/css/bootstrap-reset.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/assets/font-awesome/css/font-awesome.css" rel="stylesheet"><!-- 字体 -->
    <link href="__PUBLIC__/css/style.css" rel="stylesheet"><!-- THEME BASIC CSS -->
    <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet"><!-- THEME RESPONSIVE CSS -->
    <link href="__PUBLIC__/assets/morris.js-0.4.3/morris.css" rel="stylesheet"><!-- MORRIS CHART CSS -->
    <link href="__PUBLIC__/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="__PUBLIC__/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/sco.message.css" rel="stylesheet">
    <!--dashboard calendar-->
    <link href="__PUBLIC__/css/clndr.css" rel="stylesheet"><!-- CALENDER CSS -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.js">
    </script>
    <script src="__PUBLIC__/js/respond.min.js">
    </script>
    <![endif]-->
    <!-- END STYLESHEET-->
</head>
<script type="text/javascript">
    var HOST = "__HOST__";
</script>
<body id="body">
<!-- SECTION -->
<section id="container">

    <include file="Public/header"/>
    <include file="Public/aside"/>

    <!-- 主窗体 -->
    <section id="main-content">

        <!-- 主容器  -->
        <section class="wrapper">
            <div class="panel">
                <header class="panel-heading">
                    <span><strong>查询: <span class="red"> </span></strong></span>
                </header>

                <div class="panel-body">
                    <div class="col-sm-12">
                        <div style="margin-top: 10pt">
                            <span><strong>1. 数据导出: <span class="red"> 选择日期后导出</span></strong></span>
                        </div>
                        <div style="margin-top: 10pt">
                        <!--<div><button type="button" class="btn btn-primary reloadtc" style="float:left">刷新TC</button></div>-->
                        <!--<div style="width:150px;float:left;padding-left: 15px;margin-top: 5px">-->
                            <!--<strong>承保日期全量导出：</strong></div>-->
                        <!--<div class="tools" style="float:left;margin-left: 10pt">-->
                            <!--<div style="width:250px;float:left" class="input-group date form_date" id="form_date1" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd">-->
                                <!--<input class="form-control" size="16" type="text" value="" readonly>-->
                                <!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
                                <!--<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div><button type="button" class="btn btn-primary exportreport" style="float:left;margin-left: 10pt"  onclick="exportExcel();">导出明细</button></div>-->
                        <!--<br><br>-->
                        <div style="width:150px;float:left;padding-left: 15px;margin-top: 5px">
                            <strong>缴费对应日期区间导出：</strong></div>
                        <div class="tools" style="float:left;margin-left: 10pt">
                            <div style="width:250px;float:left" class="input-group date form_date" id="form_date2" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input class="form-control" size="16" type="text" value="" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <div style="width:50px;float:left;padding-left: 15px;margin-top: 5px"><strong>至</strong></div>
                            <div style="width:250px;float:left" class="input-group date form_date" id="form_date3" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input3" data-link-format="yyyy-mm-dd">
                                <input class="form-control" size="16" type="text" value="" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <!--<div><button type="button" class="btn btn-primary exportreport" style="float:left;margin-left: 10pt"  onclick="exportExcelByTime();">导出明细</button></div>-->
                        <input style="visibility:hidden" id="dtp_input1" value=""/>
                        <input style="visibility:hidden" id="dtp_input2" value=""/>
                        <input style="visibility:hidden" id="dtp_input3" value=""/>
                        </div>
                    </div>

                    <div class="col-sm-12" style="padding-top:10pt;">
                        <div style="margin-top: 10pt">
                            <span><strong>2. 条件查询: <span class="red"> 请选择条件后查询(可使用1.数据导出中区间日期作为查询条件)</span></strong></span>
                        </div>
                        <div style="margin-top: 10pt">
                        <!--<div class="col-sm-3">-->
                            <!--<span class="red">*</span><span><strong>投保单状态: 待回执/已回执/已承保/出单前撤保</strong></span>-->
                            <!--<input type="text" class="form-control add_user" id="apply_status" placeholder="请输入投保单状态">-->
                        <!--</div>-->
                        <div class="col-sm-3">
                            <span class="red">*</span><span><strong>保单号:</strong></span>
                            <input type="text" class="form-control add_user" id="policy_code" placeholder="请输入保单号">
                        </div>
                        <div class="col-sm-3">
                            <span class="red">*</span><span><strong>保单所属渠道渠道:个人/银行/财富...</strong></span>
                            <input type="text" class="form-control add_user" id="apply_channel" placeholder="请输入保单所属渠道">
                        </div>
                        <div class="col-sm-3">
                            <span class="red">*</span><span><strong>保单标识:自有单/赋予单/孤儿单</strong></span>
                            <input type="text" class="form-control add_user" id="apply_type" placeholder="请输入投保方式">
                        </div>
                            <div>
                                <div style="width:100px;float:left;padding-left: 15px;margin-top: 10pt">
                                    <strong>宽限到期日期：</strong>
                                </div>
                                <div class="tools" style="float:left;margin-left: 10pt;margin-top: 10pt">
                                    <div style="width:250px;float:left" class="input-group date form_date" id="form_date4" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input4" data-link-format="yyyy-mm-dd">
                                        <input class="form-control" size="16" type="text" value="" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <input style="visibility:hidden" id="dtp_input4" value=""/>
                            </div>
                        </div>
                        <!--<div class="col-sm-3">-->
                        <!--<span class="red">*</span><span><strong>用户类型: 1-管理员/2-机构组长/3-操作员</strong></span>-->
                        <!--<input type="text" class="form-control add_user" id="user_type_input" placeholder="请输入用户类型">-->
                        <!--</div>-->
                        <!--<div class="col-sm-3">-->
                        <!--<span class="red">*</span><span><strong>作业机构代码: 8647...</strong></span>-->
                        <!--<input type="text" class="form-control add_user" id="user_organ_code" placeholder="请输入作业机构代码">-->
                        <!--</div>-->
                    </div>
                    <!--<div class="col-sm-6" style="margin-top:10pt;margin-left:23.5%">-->
                        <!--<button type="button" id="new_user" class="btn btn-primary col-sm-12" style="margin-left: 10pt" onclick="refreshTable();">查询-->
                        <!--</button>-->
                    <!--</div>-->
                    <div style="margin-top: 40pt">
                        <div class="col-sm-6" style="margin-top:10pt;margin-left:10%;float: left ">
                            <button type="button" class="btn btn-success  col-sm-3 exportreport" style="float:left;margin-left: 10pt"   onclick="exportExcelByTime();">导出查询结果
                            </button>
                        </div>
                        <div class="col-sm-6" style="margin-top:-23pt;margin-left:30%;float: left">
                            <button type="button" id="new_user" class="btn btn-primary col-sm-9" style="margin-left: 10pt" onclick="refreshTable();">查询
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <header class="panel-heading">
                    <span><strong>查询结果</strong></span>
                </header>
                <div class="panel-body">
                    <div>
                        <!--<input class="form-control" value="保全受理" style="width:70pt;float:left;">-->
                        <!--<input class="form-control" value="保全复核" style="width:70pt;float:left;margin-left: 5pt">-->
                        <!--<input class="form-control" value="正确" style="width:40pt;float:left;margin-left: 5pt">-->
                        <!--<input class="form-control" value="错误" style="width:40pt;float:left;margin-left: 5pt">-->
                        <!--<input class="form-control" value="保全核保" style="width:70pt;float:left;margin-left: 5pt">-->
                        <!--<input class="form-control" value="理赔核保" style="width:70pt;float:left;margin-left: 5pt">-->
                        <!--<input class="form-control" value="出单前撤保" style="width:80pt;float:left;margin-left: 5pt">-->
                        <!--<input class="form-control" value="保单回执" style="width:70pt;float:left;margin-left: 5pt">-->
                    </div>
                    <table id="daily_report2" style="table-layout: fixed;"></table>
                </div>
            </div>

        </section>
        <!-- 主容器  -->

    </section>
    <!-- 主窗体 -->

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">删除自动回复提示</h4>
                </div>
                <div class="modal-body text-center">
                    <span class="left-30 red size-16">删除后将无法恢复！确认要删除自动回复吗？</span>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                    <button class="btn btn-warning" type="button" onclick="deleteSub();">确认</button>
                </div>
            </div>
        </div>
        <span style="display:none" id="myModalHide"></span>
    </div>

    <!--<div class="zfb modal fade in">-->
        <!--<img src="zfb.png"  alt="扫描领红包" />-->
    <!--</div>-->

    <include file="Public/footer-20"/>
    <include file="Public/check"/>
</section>
<!-- SECTION -->

<!-- JS -->
<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script><!-- BASIC JQUERY 1.8.3 LIB. JS -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script><!-- BOOTSTRAP JS -->
<script src="__PUBLIC__/js/jquery.dcjqaccordion.2.7.js"></script><!-- 左侧子菜单栏显示 -->
<script src="__PUBLIC__/js/jquery.scrollTo.min.js"></script><!-- SCROLLTO JS -->
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script><!-- NICESCROLL JS -->
<script src="__PUBLIC__/js/respond.min.js"></script><!-- RESPOND JS -->
<script src="__PUBLIC__/js/jquery.sparkline.js"></script><!-- SPARKLINE JS -->
<script src="__PUBLIC__/js/sparkline-chart.js"></script><!-- SPARKLINE CHART JS -->
<script src="__PUBLIC__/js/common-scripts.js"></script><!-- BASIC COMMON JS -->
<script src="__PUBLIC__/js/bootstrap-table.min.js"></script><!-- SPARKLINE CHART JS -->
<script src="__PUBLIC__/js/bootstrap-table-zh-CN.min.js"></script><!-- BASIC COMMON JS -->
<script src="__PUBLIC__/js/sco.message.js" type="text/javascript"></script>
<!--统计框Morris-->
<script src="__PUBLIC__/assets/morris.js-0.4.3/morris.min.js"></script><!-- MORRIS JS -->
<script src="__PUBLIC__/assets/morris.js-0.4.3/raphael-min.js"></script><!-- MORRIS  JS -->
<script src="__PUBLIC__/js/chart.js"></script><!-- CHART JS -->

<script src="__PUBLIC__/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="__PUBLIC__/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<!--自定义-->
<script src="__PUBLIC__/js/public/userCheck.js"></script>
<script src="__PUBLIC__/js/dataOut/policyNoCharge.js"></script>

<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/bootstrap-table-develop/dist/bootstrap-table.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/bootstrap-table-develop/dist/extensions/export/bootstrap-table-export.js"></script>

<script src="__PUBLIC__/js/bootstrap_above/tableExport/libs/pdfmake/pdfmake.min.js"></script>
<script src="__PUBLIC__/js/bootstrap_above/tableExport/libs/pdfmake/vfs_fonts.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/tableExport/libs/FileSaver/FileSaver.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/tableExport/libs/jsPDF/jspdf.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/tableExport/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/tableExport/tableExport.js"></script>

</body>
</html>


