<!DOCTYPE html>
<html lang="en">
<head>
    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Olive Enterprise">
    <!-- END META -->

    <!-- BEGIN SHORTCUT ICON -->
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">
    <!-- END SHORTCUT ICON -->
    <title>
        {$TITLE}
    </title>
    <!-- BEGIN STYLESHEET-->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/css/bootstrap-reset.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/assets/font-awesome/css/font-awesome.css" rel="stylesheet"><!-- 字体 -->
    <link href="__PUBLIC__/css/style.css" rel="stylesheet"><!-- THEME BASIC CSS -->
    <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet"><!-- THEME RESPONSIVE CSS -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/nestable/jquery.nestable.css"><!-- NESTABLE CSS -->
    <link href="__PUBLIC__/css/sco.message.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/userManage/modify-user.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-select.min.css">
    <link href="__PUBLIC__/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.js">
    </script>
    <script src="__PUBLIC__/js/respond.min.js">
    </script>
    <![endif]-->
    <!-- END STYLESHEET-->
</head>
<script type="text/javascript">
    var HOST = "__HOST__";
</script>
<body id="body">
<!-- SECTION -->
<section id="container">

    <include file="Public/header"/>
    <include file="Public/aside"/>

    <!-- 主窗体 -->
    <section id="main-content">

        <!-- 主容器  -->
        <section class="wrapper">

            <div class="panel" id="table_manage">
                <div class="panel-heading">
                    <span><strong>数据表权限（通用）: <span class="red">对应修改，无需修改的可不处理</span></strong></span>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12" style="float: left;">

                        <div class="col-sm-4" style="margin-top: 10pt;clear:both">
                            <span class="red">*</span><span><strong>用户选择: </strong></span>
                            <select id="table_type" class="selectpicker show-tick form-control">
                                <option value="-1">==选择==</option>
                                <option value="0">普通用户</option>
                                <option value="1">公共用户</option>
                                <option value="2">管理员用户</option>
                            </select>
                        </div>

                        <div class="col-sm-6" style="margin-top: 10pt;clear:both" id="key_user_account_show">
                            <div>
                                <span class="red">*</span><span><strong>选择用户（指定用户）：<span id="key_user_hint" class="red"></span> </strong></span>
                                <select id="key_user_account" data-live-search="true" class="selectpicker show-tick form-control">
                                    <option value="-1">==选择==</option>
                                    {$user_lists}
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6"  style="margin-top: 10pt;clear:both" id="key_user_show">
                            <div>
                                <span class="red">*</span><span><strong>已有表权限选择：<span id="key_id_hint" class="red"></span></strong></span>
                                <select id="key_user_select" data-live-search="true" class="selectpicker show-tick form-control">
                                    {$user_key_lists}
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4" style="margin-top: 10pt;clear:both">
                            <span class="red">*</span><span><strong>数据表选择: </strong></span>
                            <select id="data_table" data-live-search="true" class="selectpicker show-tick form-control">
                                <option disabled="" value="-1">==选择==</option>
                                {$data_table}
                            </select>
                        </div>

                        <div class="col-sm-4" style="margin-top: 10pt;clear:both">
                            <span class="red">*</span><span><strong>设置数据表权限类型: </strong></span>
                            <select id="data_type" class="selectpicker show-tick form-control">
                                <option disabled="" value="-1">==选择==</option>
                                <option value="1">删除后新增</option>
                                <option value="2">直接新增</option>
                                <option value="99">全部类型</option>
                            </select>
                        </div>

                        <div class="col-sm-4" style="margin-top: 10pt;clear:both">
                            <span class="red">*</span><span><strong>操作类型: </strong></span>
                            <select id="is_new" class="selectpicker show-tick form-control">
                                <option disabled="" value="-1">==选择==</option>
                                <option value="0">新增</option>
                                <option value="1">修改</option>
                                <option value="2">删除</option>
                            </select>
                        </div>

                        <div class="col-sm-6" style="margin-top: 10pt;clear:both">
                            <div>
                                <span class="red">*</span><span><strong>自定义数据表名称： </strong></span>
                                <input type="text" class="form-control add_user" id="table_name">
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12" style="margin-top:20pt;margin-left:43.5%">
                        <button type="button" id="modify_user_key" class="btn btn-primary exportreport"
                                style="margin-left: 10pt">修改/新增数据表权限
                        </button>
                    </div>
                </div>
            </div>

        </section>
        <!-- 主容器  -->

        <div class="modal fade" id="checkPass">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title center">数据库修改密钥校验</h4>
                    </div>
                    <div class="panel-body" style="margin-top:20px;">

                        <div class="col-lg-12" style="margin-top:10px;">
                            <section class="panel">
                                <form class="form-horizontal tasi-form" method="get">
                                    <div class="form-group">
                                        <div class="order-left-10 modify-user-div">
                                            <label class="order-label modify-user-label"> <span
                                                    class="star-red">*</span>&nbsp;密 钥：</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="check_pass">
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <button class="btn btn-warning" type="button" onclick="checkPass();">确认</button>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- 主窗体 -->

    <include file="Public/footer-20"/>
    <include file="Public/check"/>

</section>
<!-- SECTION -->

<!-- JS -->

<!--<script src="__PUBLIC__/js/jquery.js"></script>&lt;!&ndash; BASIC JQUERY LIB. JS &ndash;&gt;-->
<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script><!-- BASIC JQUERY 1.8.3 LIB. JS -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script><!-- BOOTSTRAP JS -->
<script src="__PUBLIC__/js/jquery.dcjqaccordion.2.7.js"></script><!-- 左侧子菜单栏显示 -->
<script src="__PUBLIC__/js/jquery.scrollTo.min.js"></script><!-- SCROLLTO JS -->
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script><!-- NICESCROLL JS -->
<script src="__PUBLIC__/js/respond.min.js"></script><!-- RESPOND JS -->
<script src="__PUBLIC__/js/jquery.sparkline.js"></script><!-- SPARKLINE JS -->
<script src="__PUBLIC__/js/common-scripts.js"></script><!-- BASIC COMMON JS -->
<script src="__PUBLIC__/js/sco.message.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/bootstrap-table.min.js"></script>
<script src="__PUBLIC__/js/bootstrap-table-zh-CN.min.js"></script>
<script src="__PUBLIC__/js/DataTableMaintain/dataTableManage.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/public/userCheck.js"></script>
<!--<script src="__PUBLIC__/js/userManage/userManage.js" type="text/javascript"></script>-->
<script type="text/javascript"
        src="__PUBLIC__/js/bootstrap_above/bootstrap-table-develop/dist/bootstrap-table.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/js/bootstrap_above/bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/js/bootstrap_above/bootstrap-table-develop/dist/extensions/export/bootstrap-table-export.js"></script>
<script src="__PUBLIC__/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="__PUBLIC__/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="__PUBLIC__/js/bootstrap_above/tableExport/libs/pdfmake/pdfmake.min.js"></script>
<script src="__PUBLIC__/js/bootstrap_above/tableExport/libs/pdfmake/vfs_fonts.js"></script>
<script src="__PUBLIC__/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/tableExport/libs/FileSaver/FileSaver.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/tableExport/libs/jsPDF/jspdf.min.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/js/bootstrap_above/tableExport/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/tableExport/tableExport.js"></script>
<script src="__PUBLIC__/js/md5.js" type="text/javascript"></script>

</body>
</html>


