<!-- 边栏 -->
<aside>
    <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">

            <!--主菜单-->
            <li>
                <a href="{:U('Home/Sale/sale')}" id="sale">
                    <i class="fa fa-dashboard"></i>
                        <span style="font-size: 14px;">
                          TC实时监控
                        </span>
                </a>
            </li>

            <!--菜单一-->
            <li class="sub-menu">
                <a href="javascript:;" id="weChat">
                    <i class="fa fa-laptop"></i>
                            <span style="font-size: 14px;">
                              日报查询
                            </span>
                            <span class="label label-success span-sidebar">
                              3
                            </span>
                </a>
                <ul class="sub" id="weChat_sub">
                    <li id="weChat_menu">
                        <a href="{:U('Home/Home/Home')}" style="font-size: 12px;">
                            单日日报查询
                        </a>
                    </li>
                    <li id="weChat_groupSend">
                        <a href="{:U('Home/WeChat/messageGroupSend')}" style="font-size: 12px;">
                            区间日报查询
                        </a>
                    </li>
                    <li id="weChat_autoSend">
                        <a href="{:U('Home/WeChat/setAutoRes')}" style="font-size: 12px;">
                            整体日报查询
                        </a>
                    </li>
                </ul>
            </li>

            <!--菜单二-->
            <li class="sub-menu">
                <a href="javascript:;" id="user">
                    <i class="fa fa-book">
                    </i>
                            <span style="font-size: 14px;">
                              用户管理
                            </span>
                            <span class="label label-info span-sidebar">
                              1
                            </span>
                </a>
                <ul class="sub" id="user_sub">
                    <li id="user_manager">
                        <a href="{:U('Home/UserManage/userManage')}" style="font-size: 12px;">
                            登录用户管理
                        </a>
                    </li>
                    <li class="dis-none">
                        <a href="">
                            子菜单
                        </a>
                    </li>
                    <li class="dis-none">
                        <a href="">
                            子菜单
                        </a>
                    </li>
                </ul>
            </li>

            <!--菜单三-->
            <li class="sub-menu">
                <a href="javascript:;" id="course">
                    <i class="fa fa-cogs">
                    </i>
                            <span style="font-size: 14px;">
                              TC请求
                            </span>
                            <span class="label label-primary span-sidebar">
                              1
                            </span>
                </a>

                <ul class="sub" id="course_sub">
                    <li id="course_info">
                        <a href="{:U('Home/CourseManage/courseManage')}" style="font-size: 12px;">
                            TC刷新队列
                        </a>
                    </li>
                    <!--<li id="course_survey">-->
                        <!--<a href="{:U('Home/CourseManage/surveyManage')}" style="font-size: 12px;">-->
                            <!--课程问卷管理-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="course_survey_publish">-->
                        <!--<a href="{:U('Home/CourseManage/surveyPublish')}" style="font-size: 12px;">-->
                            <!--课程问卷发布-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="course_count">-->
                        <!--<a href="{:U('Home/CourseManage/surveyCondition')}" style="font-size: 12px;">-->
                            <!--问卷完成情况-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="course_survey_demo_publish">-->
                        <!--<a href="{:U('Home/CourseManage/coursePublish')}" style="font-size: 12px;">-->
                            <!--按课程发布模版问卷-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </li>

            <!--菜单四-->
            <li class="sub-menu">
                <a href="javascript:;" id="data">
                    <i class="fa fa-tasks">
                    </i>
                            <span style="font-size: 14px;">
                              完成申请
                            </span>
                            <span class="label label-info span-sidebar">
                              2
                            </span>
                </a>

                <ul class="sub" id="data_sub">
                    <li id="data_course">
                        <a href="{:U('Home/DataManage/userCourse')}" style="font-size: 12px;">
                             待处理完成申请
                        </a>
                    </li>
                    <!--<li id="data_sys_course">-->
                        <!--<a href="{:U('Home/DataManage/sysCourse')}" style="font-size: 12px;">-->
                            <!--系统课程维护-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="data_user_info">-->
                        <!--<a href="{:U('Home/DataManage/userInfo')}" style="font-size: 12px;">-->
                            <!--用户信息维护-->
                        <!--</a>-->
                    <!--</li>-->
                    <li id="data_count">
                        <a href="{:U('Home/DataManage/surveyCount')}" style="font-size: 12px;">
                            提交完成申请
                        </a>
                    </li>
                    <!--<li class="dis-none">-->
                        <!--<a href="">-->
                            <!--子菜单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="dis-none">-->
                        <!--<a href="">-->
                            <!--子菜单-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </li>

            <!--主菜单-->
            <li class="sub-menu">
                <a href="{:U('Home/Home/home')}" id="home">
                    <i class="fa fa-dashboard"></i>
                        <span style="font-size: 14px;">
                          待确认队列
                        </span>
                        <span class="label label-info span-sidebar">
                            2
                        </span>
                </a>
                <ul class="sub" id="data_ub">
                    <li id="data_ount">
                        <a href="{:U('Home/DataManage/surveyCount')}" style="font-size: 12px;">
                            个人待确认
                        </a>
                    </li>
                    <li id="data_unt">
                        <a href="{:U('Home/DataManage/surveyCount')}" style="font-size: 12px;">
                            机构待确认队列
                        </a>
                    </li>
                </ul>
            </li>

            <!--登陆界面-->
            <li>
                <a href="{:U('Home/Method/back')}">
                    <i class="fa fa-user">
                    </i>
                        <span style="font-size: 14px;">
                           登录页面
                        </span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<!-- 边栏 -->