<!-- 边栏 -->
<aside>
    <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">

            <!--实时监控-->
            <li>
                <a href="{:U('Home/Home/postHome')}" id="sale">
                    <i class="fa fa-dashboard"></i>
                        <span style="font-size: 14px;">
                          实时监控
                        </span>
                </a>
            </li>

            <!--当日日报-->
            <li class="sub-menu">
                <a href="javascript:;" id="day_post">
                    <i class="fa fa-laptop"></i>
                            <span style="font-size: 14px;">
                              当日日报查询
                            </span>
                            <span class="label btn-warning span-sidebar">
                              4
                            </span>
                </a>
                <ul class="sub" id="day_post_this">
                    <li id="day_post_busi_this">
                        <a href="{:U('Home/DayPost/dayPost')}" style="font-size: 12px;">
                            作业日报
                        </a>
                    </li>
                    <li id="day_post_key_this">
                        <a href="{:U('Home/DayPost/dayPostKeyThis')}" style="font-size: 12px;">
                            关键业务指标
                        </a>
                    </li>
                    <li id="day_post_key_else">
                        <a href="{:U('Home/DayPost/dayPostKeyElse')}" style="font-size: 12px;">
                            保单|单证|VMS
                        </a>
                    </li>
                    <li id="day_post_key_chat">
                        <a href="{:U('Home/DayPost/dayPostKeyChat')}" style="font-size: 12px;">
                            短信
                        </a>
                    </li>
                    <!--<li id="day_post_uw_this">-->
                        <!--<a href="{:U('Home/DayPost/dayPostUwThis')}" style="font-size: 12px;">-->
                            <!--核保当日日报-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="day_post_cs_this">-->
                        <!--<a href="{:U('Home/DayPost/dayPostCsThis')}" style="font-size: 12px;">-->
                            <!--保全当日日报-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="day_post_clm_this">-->
                        <!--<a href="{:U('Home/DayPost/dayPostClmThis')}" style="font-size: 12px;">-->
                            <!--核赔当日日报-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </li>

            <!--累计日报-->
            <li class="sub-menu"  id="post_day_all">
                <a href="javascript:;" id="day_post_two">
                    <i class="fa fa-laptop"></i>
                    <span style="font-size: 14px;">
                              累计日报查询
                            </span>
                    <span class="label btn-primary span-sidebar">
                              3
                            </span>
                </a>
                <ul class="sub" id="day_post_all">
                    <li id="day_post_sum">
                        <a href="{:U('Home/DayPost/dayPostAllBx')}" style="font-size: 12px;">
                            累计日报
                        </a>
                    </li>
                    <li id="day_post_sum_between">
                        <a href="{:U('Home/DayPost/dayPostAllBxAnd')}" style="font-size: 12px;">
                            累计日报区间实时
                        </a>
                    </li>
                    <li id="day_post_key_all">
                        <a href="{:U('Home/DayPost/dayPostKeyAll')}" style="font-size: 12px;">
                            关键指标日报区间
                        </a>
                    </li>
                </ul>
            </li>

            <!--缺陷日报-->
            <li class="sub-menu" id="day_post_qx">
                <a href="javascript:;" id="day_post_other">
                    <i class="fa fa-laptop"></i>
                    <span style="font-size: 14px;">
                              缺陷日报查询
                            </span>
                    <span class="label label-success span-sidebar">
                              1
                            </span>
                </a>
                <ul class="sub" id="day_post_three">
                    <li id="day_post_tc">
                        <a href="{:U('Home/DayPost/dayPostTc')}" style="font-size: 12px;">
                            TC问题日报
                        </a>
                    </li>
                </ul>
            </li>

            <!--用户管理-->
            <li class="sub-menu" id="user_control">
                <a href="javascript;" id="user">
                    <i class="fa fa-book">
                    </i>
                            <span style="font-size: 14px;">
                              用户管理
                            </span>
                            <span class="label label-info span-sidebar">
                              1
                            </span>
                </a>
                <ul class="sub" id="user_sub">
                    <li id="user_manager">
                        <a href="{:U('Home/UserManage/userManage')}" style="font-size: 12px;">
                            登录用户管理
                        </a>
                    </li>
                    <!--<li class="dis-none">-->
                        <!--<a href="">-->
                            <!--子菜单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="dis-none">-->
                        <!--<a href="">-->
                            <!--子菜单-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </li>

            <!--数据管理-->
            <li class="sub-menu" id="data_control">
                <a href="javascript:;" id="course">
                    <i class="fa fa-cogs">
                    </i>
                            <span style="font-size: 14px;">
                              数据管理
                            </span>
                            <span class="label label-primary span-sidebar">
                              1
                            </span>
                </a>
                <ul class="sub" id="course_sub">
                    <li id="course_info">
                        <a href="{:U('Home/RequestPostDataLoad/loadData')}" style="font-size: 12px;">
                            TC加载/确认结果修改
                        </a>
                    </li>
                    <!--<li id="course_survey">-->
                        <!--<a href="{:U('Home/CourseManage/surveyManage')}" style="font-size: 12px;">-->
                            <!--课程问卷管理-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="course_survey_publish">-->
                        <!--<a href="{:U('Home/CourseManage/surveyPublish')}" style="font-size: 12px;">-->
                            <!--课程问卷发布-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="course_count">-->
                        <!--<a href="{:U('Home/CourseManage/surveyCondition')}" style="font-size: 12px;">-->
                            <!--问卷完成情况-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="course_survey_demo_publish">-->
                        <!--<a href="{:U('Home/CourseManage/coursePublish')}" style="font-size: 12px;">-->
                            <!--按课程发布模版问卷-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </li>

            <!--清单数据导出-->
            <!--<li class="sub-menu" id="list_out">-->
                <!--<a href="javascript;" id="data_export">-->
                    <!--<i class="fa fa-tasks">-->
                    <!--</i>-->
                            <!--<span style="font-size: 14px;">-->
                              <!--清单数据导出-->
                            <!--</span>-->
                            <!--<span class="label label-info span-sidebar" id="data_export_num">-->
                              <!--10-->
                            <!--</span>-->
                <!--</a>-->
                <!--<ul class="sub" id="data_out">-->
                    <!--<li id="data_out_ct">-->
                        <!--<a href="{:U('Home/DataOut/csOutCt')}" style="font-size: 12px;">-->
                             <!--保全除退保数据-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="data_ct_all">-->
                        <!--<a href="{:U('Home/DataOut/csCtAll')}" style="font-size: 12px;">-->
                            <!--保全退保数据-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="data_nb_cb">-->
                        <!--<a href="{:U('Home/DataOut/nbOutCb')}" style="font-size: 12px;">-->
                            <!--新契约承保清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="data_nb_tb">-->
                        <!--<a href="{:U('Home/DataOut/nbOutTb')}" style="font-size: 12px;">-->
                            <!--新契约投保清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="data_nb_hz">-->
                        <!--<a href="{:U('Home/DataOut/nbOutHz')}" style="font-size: 12px;">-->
                            <!--新契约回执核销清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="data_nb_ys">-->
                        <!--<a href="{:U('Home/DataOut/nbOutYs')}" style="font-size: 12px;">-->
                            <!--新契约预收清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="data_cap_cs">-->
                        <!--<a href="{:U('Home/DataOut/capCs')}" style="font-size: 12px;">-->
                            <!--收付费保全制返盘清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="data_cap_nb">-->
                        <!--<a href="{:U('Home/DataOut/capNb')}" style="font-size: 12px;">-->
                            <!--收付费新契约制返盘清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="data_cap_nb_no_arrive">-->
                        <!--<a href="{:U('Home/DataOut/capNbNoArrive')}" style="font-size: 12px;">-->
                            <!--新契约未到账清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="data_cap_cs_back">-->
                        <!--<a href="{:U('Home/DataOut/capCsBack')}" style="font-size: 12px;">-->
                            <!--收付费返盘清单(不含续期)-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->

            <!--&lt;!&ndash;新契约报表&ndash;&gt;-->
            <!--<li class="sub-menu" id="list_nb">-->
                <!--<a href="javascript:;" id="nb_post">-->
                    <!--<i class="fa fa-cogs">-->
                    <!--</i>-->
                    <!--<span style="font-size: 14px;">-->
                              <!--新契约-->
                            <!--</span>-->
                    <!--<span class="label btn-warning span-sidebar">-->
                              <!--1-->
                            <!--</span>-->
                <!--</a>-->
                <!--<ul class="sub" id="nb_post_table">-->
                    <!--<li id="nb_post_table_stream">-->
                        <!--<a href="{:U('Home/PostTable/nbPostStream')}" style="font-size: 12px;">-->
                           <!--新契约清单导出-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;<li id="course_survey">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="{:U('Home/CourseManage/surveyManage')}" style="font-size: 12px;">&ndash;&gt;-->
                    <!--&lt;!&ndash;课程问卷管理&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li id="course_survey_publish">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="{:U('Home/CourseManage/surveyPublish')}" style="font-size: 12px;">&ndash;&gt;-->
                    <!--&lt;!&ndash;课程问卷发布&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li id="course_count">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="{:U('Home/CourseManage/surveyCondition')}" style="font-size: 12px;">&ndash;&gt;-->
                    <!--&lt;!&ndash;问卷完成情况&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li id="course_survey_demo_publish">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="{:U('Home/CourseManage/coursePublish')}" style="font-size: 12px;">&ndash;&gt;-->
                    <!--&lt;!&ndash;按课程发布模版问卷&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--</ul>-->
            <!--</li>-->

            <!--&lt;!&ndash;银代渠道报表&ndash;&gt;-->
            <!--<li class="sub-menu" id="list_yd">-->
                <!--<a href="javascript:;" id="yd_post">-->
                    <!--<i class="fa fa-laptop">-->
                    <!--</i>-->
                    <!--<span style="font-size: 14px;">-->
                              <!--银代报表-->
                            <!--</span>-->
                    <!--<span class="label btn-primary span-sidebar">-->
                              <!--1-->
                            <!--</span>-->
                <!--</a>-->
                <!--<ul class="sub" id="yd_post_table">-->
                    <!--<li id="yd_post_table_tb">-->
                        <!--<a href="{:U('Home/PostTable/ydPostTb')}" style="font-size: 12px;">-->
                            <!--新契约银代财富投保清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;<li id="course_survey">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="{:U('Home/CourseManage/surveyManage')}" style="font-size: 12px;">&ndash;&gt;-->
                    <!--&lt;!&ndash;课程问卷管理&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li id="course_survey_publish">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="{:U('Home/CourseManage/surveyPublish')}" style="font-size: 12px;">&ndash;&gt;-->
                    <!--&lt;!&ndash;课程问卷发布&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li id="course_count">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="{:U('Home/CourseManage/surveyCondition')}" style="font-size: 12px;">&ndash;&gt;-->
                    <!--&lt;!&ndash;问卷完成情况&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li id="course_survey_demo_publish">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="{:U('Home/CourseManage/coursePublish')}" style="font-size: 12px;">&ndash;&gt;-->
                    <!--&lt;!&ndash;按课程发布模版问卷&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--</ul>-->
            <!--</li>-->

            <!--待确认队列-->
            <li class="sub-menu">
                <a href="javascript:;" id="home">
                    <i class="fa fa-dashboard"></i>
                        <span style="font-size: 14px;">
                          待确认队列
                        </span>
                        <span class="label btn-danger span-sidebar">
                            6
                        </span>
                </a>
                <ul class="sub" id="data_ub">
                    <li id="bx_cs_define">
                        <a href="{:U('Home/BxWorkDefine/csDefine')}" style="font-size: 12px;">
                            保全柜面清单
                        </a>
                    </li>
                    <li id="bx_cs_review_define">
                        <a href="{:U('Home/BxWorkDefine/csReviewDefine')}" style="font-size: 12px;">
                            保全复核清单
                        </a>
                    </li>
                    <li id="bx_uw_define">
                        <a href="{:U('Home/BxWorkDefine/uwDefine')}" style="font-size: 12px;">
                            核保核对清单
                        </a>
                    </li>
                    <li id="bx_nb_define">
                        <a href="{:U('Home/BxWorkDefine/nbDefine')}" style="font-size: 12px;">
                            契约核对清单
                        </a>
                    </li>
                    <li id="bx_clm_define">
                        <a href="{:U('Home/BxWorkDefine/clmDefine')}" style="font-size: 12px;">
                            理赔核对清单
                        </a>
                    </li>
                    <!--<li id="cs_difine">-->
                        <!--<a href="{:U('Home/PersonDefineFinishWork/csDefine')}" style="font-size: 12px;">-->
                            <!--保全柜面清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="cs_out_define">-->
                        <!--<a href="{:U('Home/PersonDefineFinishWork/csOutDefine')}" style="font-size: 12px;">-->
                            <!--保全外围清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="nb_tb_define">-->
                        <!--<a href="{:U('Home/PersonDefineFinishWork/nbTbDefine')}" style="font-size: 12px;">-->
                            <!--投保信息清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <li id="nb_bd_define">
                        <a href="{:U('Home/BxWorkDefine/nbBdDefine')}" style="font-size: 12px;">
                            保险合同清单
                        </a>
                    </li>
                    <!--<li id="clm_define">-->
                        <!--<a href="{:U('Home/PersonDefineFinishWork/clmDefine')}" style="font-size: 12px;">-->
                            <!--理赔核对清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="uw_define">-->
                        <!--<a href="{:U('Home/PersonDefineFinishWork/uwDefine')}" style="font-size: 12px;">-->
                            <!--核保核对清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="cs_chat_define">-->
                        <!--<a href="{:U('Home/PersonDefineFinishWork/csChatDefine')}" style="font-size: 12px;">-->
                            <!--保全短信清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="nb_chat_define">-->
                        <!--<a href="{:U('Home/PersonDefineFinishWork/nbChatDefine')}" style="font-size: 12px;">-->
                            <!--承保短信清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="nb_notice_define">-->
                        <!--<a href="{:U('Home/PersonDefineFinishWork/nbNoticeDefine')}" style="font-size: 12px;">-->
                            <!--通知书核对清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="nb_cbyw_define">-->
                        <!--<a href="{:U('Home/PersonDefineFinishWork/nbCbywDefine')}" style="font-size: 12px;">-->
                            <!--承保业务核对清单-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="clm_chat_define">-->
                        <!--<a href="{:U('Home/PersonDefineFinishWork/clmChatDefine')}" style="font-size: 12px;">-->
                            <!--理赔/核保短信清单-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </li>

            <!--收付费核对清单-->
            <li class="sub-menu" id="cap_menu">
                <a href="javascript;" id="cap_define">
                    <i class="fa fa-laptop">
                    </i>
                    <span style="font-size: 14px;">
                              收付费制返盘
                            </span>
                    <span class="label btn-primary span-sidebar">
                              4
                            </span>
                </a>
                <ul class="sub" id="cap_define_list">
                    <!--<li id="cap_define_all">-->
                        <!--<a href="{:U('Home/BxWorkDefine/capDefine')}" style="font-size: 12px;">-->
                            <!--制盘数据核对-->
                        <!--</a>-->
                    <!--</li>-->
                    <li id="cap_define_cs">
                        <a href="{:U('Home/PersonDefineFinishWork/capDefineCs')}" style="font-size: 12px;">
                            保全制返盘数据核对
                        </a>
                    </li>
                    <li id="cap_define_nb">
                        <a href="{:U('Home/PersonDefineFinishWork/capDefineNb')}" style="font-size: 12px;">
                            契约制返盘数据核对
                        </a>
                    </li>
                    <li id="cap_define_clm">
                        <a href="{:U('Home/PersonDefineFinishWork/capDefineClm')}" style="font-size: 12px;">
                            理赔制返盘数据核对
                        </a>
                    </li>
                    <li id="cap_define_pa">
                        <a href="{:U('Home/PersonDefineFinishWork/capDefinePa')}" style="font-size: 12px;">
                            续期制返盘数据核对
                        </a>
                    </li>
                </ul>
            </li>

            <!--短信核对清单-->
            <li class="sub-menu" id="chat_menu">
                <a href="javascript;" id="chat_define">
                    <i class="fa fa-laptop">
                    </i>
                    <span style="font-size: 14px;">
                              短信核对清单
                            </span>
                    <span class="label btn-warning span-sidebar">
                              3
                            </span>
                </a>
                <ul class="sub" id="chat_define_list">
                    <li id="chat_define_clm_uw">
                        <a href="{:U('Home/BxWorkDefine/chatDefineClmUw')}" style="font-size: 12px;">
                            理赔/核保实时短信
                        </a>
                    </li>
                    <li id="chat_define_cs">
                        <a href="{:U('Home/BxWorkDefine/chatDefineCs')}" style="font-size: 12px;">
                            契约批量短信
                        </a>
                    </li>
                    <li id="chat_define_nb">
                        <a href="{:U('Home/BxWorkDefine/chatDefineNb')}" style="font-size: 12px;">
                            保全批量短信
                        </a>
                    </li>
                </ul>
            </li>

            <!--&lt;!&ndash;周报提交&ndash;&gt;-->
            <!--<li class="sub-menu">-->
                <!--<a href="javascript:;" id="workDetail">-->
                    <!--<i class="fa fa-dashboard"></i>-->
                    <!--<span style="font-size: 14px;">-->
                          <!--测试页面-->
                        <!--</span>-->
                    <!--<span class="label btn-danger span-sidebar">-->
                            <!--1-->
                        <!--</span>-->
                <!--</a>-->
                <!--<ul class="sub" id="workDetailPost">-->
                    <!--<li id="workDetailPost_menu">-->
                        <!--<a href="{:U('Home/WorkDetailPost/workDetail')}" style="font-size: 12px;">-->
                            <!--测试页面-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->

            <!--登陆界面-->
            <li>
                <a href="{:U('Home/Method/back')}">
                    <i class="fa fa-user">
                    </i>
                        <span style="font-size: 14px;">
                           登录页面
                        </span>
                </a>
            </li>

        </ul>
    </div>
</aside>
<!-- 边栏 -->