<!-- 边栏 -->
<aside>
    <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">

            <!--主菜单-->
            <li>
                <a href="{:U('Home/Home/postHome')}" id="sale">
                    <i class="fa fa-dashboard"></i>
                        <span style="font-size: 14px;">
                          TC实时监控
                        </span>
                </a>
            </li>

            <!--菜单一-->
            <li class="sub-menu">
                <a href="javascript:;" id="day_post">
                    <i class="fa fa-laptop"></i>
                            <span style="font-size: 14px;">
                              当日日报查询
                            </span>
                            <span class="label btn-warning span-sidebar">
                              4
                            </span>
                </a>
                <ul class="sub" id="day_post_this">
                    <li id="day_post_nb_this">
                        <a href="{:U('Home/Home/Home')}" style="font-size: 12px;">
                            契约当日日报
                        </a>
                    </li>
                    <li id="day_post_uw_this">
                        <a href="{:U('Home/DayPost/dayPostUwThis')}" style="font-size: 12px;">
                            核保当日日报
                        </a>
                    </li>
                    <li id="day_post_cs_this">
                        <a href="{:U('Home/DayPost/dayPostCsThis')}" style="font-size: 12px;">
                            保全当日日报
                        </a>
                    </li>
                    <li id="day_post_clm_this">
                        <a href="{:U('Home/DayPost/dayPostClmThis')}" style="font-size: 12px;">
                            核赔当日日报
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" id="day_post_two">
                    <i class="fa fa-laptop"></i>
                    <span style="font-size: 14px;">
                              累计日报查询
                            </span>
                    <span class="label btn-primary span-sidebar">
                              1
                            </span>
                </a>
                <ul class="sub" id="day_post_all">
                    <li id="day_post_sum">
                        <a href="{:U('Home/DayPost/dayPostAll')}" style="font-size: 12px;">
                            累计日报
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" id="day_post_other">
                    <i class="fa fa-laptop"></i>
                    <span style="font-size: 14px;">
                              缺陷日报查询
                            </span>
                    <span class="label label-success span-sidebar">
                              1
                            </span>
                </a>
                <ul class="sub" id="day_post_three">
                    <li id="day_post_tc">
                        <a href="{:U('Home/DayPost/dayPostTc')}" style="font-size: 12px;">
                            TC问题日报
                        </a>
                    </li>
                </ul>
            </li>

            <!--菜单二-->
            <li class="sub-menu">
                <a href="javascript:;" id="user">
                    <i class="fa fa-book">
                    </i>
                            <span style="font-size: 14px;">
                              用户管理
                            </span>
                            <span class="label label-info span-sidebar">
                              1
                            </span>
                </a>
                <ul class="sub" id="user_sub">
                    <li id="user_manager">
                        <a href="{:U('Home/UserManage/userManage')}" style="font-size: 12px;">
                            登录用户管理
                        </a>
                    </li>
                    <li class="dis-none">
                        <a href="">
                            子菜单
                        </a>
                    </li>
                    <li class="dis-none">
                        <a href="">
                            子菜单
                        </a>
                    </li>
                </ul>
            </li>

            <!--菜单三-->
            <li class="sub-menu">
                <a href="javascript:;" id="course">
                    <i class="fa fa-cogs">
                    </i>
                            <span style="font-size: 14px;">
                              数据管理
                            </span>
                            <span class="label label-primary span-sidebar">
                              1
                            </span>
                </a>

                <ul class="sub" id="course_sub">
                    <li id="course_info">
                        <a href="{:U('Home/RequestPostDataLoad/loadData')}" style="font-size: 12px;">
                            TC加载/确认结果修改
                        </a>
                    </li>
                    <!--<li id="course_survey">-->
                        <!--<a href="{:U('Home/CourseManage/surveyManage')}" style="font-size: 12px;">-->
                            <!--课程问卷管理-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="course_survey_publish">-->
                        <!--<a href="{:U('Home/CourseManage/surveyPublish')}" style="font-size: 12px;">-->
                            <!--课程问卷发布-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="course_count">-->
                        <!--<a href="{:U('Home/CourseManage/surveyCondition')}" style="font-size: 12px;">-->
                            <!--问卷完成情况-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li id="course_survey_demo_publish">-->
                        <!--<a href="{:U('Home/CourseManage/coursePublish')}" style="font-size: 12px;">-->
                            <!--按课程发布模版问卷-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </li>

            <!--菜单四-->
            <!--<li class="sub-menu">-->
                <!--<a href="javascript:;" id="data">-->
                    <!--<i class="fa fa-tasks">-->
                    <!--</i>-->
                            <!--<span style="font-size: 14px;">-->
                              <!--完成申请-->
                            <!--</span>-->
                            <!--<span class="label label-info span-sidebar">-->
                              <!--2-->
                            <!--</span>-->
                <!--</a>-->

                <!--<ul class="sub" id="data_sub">-->
                    <!--<li id="data_course">-->
                        <!--<a href="{:U('Home/DataManage/userCourse')}" style="font-size: 12px;">-->
                             <!--待处理完成申请-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;<li id="data_sys_course">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="{:U('Home/DataManage/sysCourse')}" style="font-size: 12px;">&ndash;&gt;-->
                            <!--&lt;!&ndash;系统课程维护&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li id="data_user_info">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="{:U('Home/DataManage/userInfo')}" style="font-size: 12px;">&ndash;&gt;-->
                            <!--&lt;!&ndash;用户信息维护&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--<li id="data_count">-->
                        <!--<a href="{:U('Home/DataManage/surveyCount')}" style="font-size: 12px;">-->
                            <!--提交完成申请-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;<li class="dis-none">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="">&ndash;&gt;-->
                            <!--&lt;!&ndash;子菜单&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li class="dis-none">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="">&ndash;&gt;-->
                            <!--&lt;!&ndash;子菜单&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--</ul>-->
            <!--</li>-->

            <!--主菜单-->
            <li class="sub-menu">
                <a href="javascript:;" id="home">
                    <i class="fa fa-dashboard"></i>
                        <span style="font-size: 14px;">
                          待确认队列
                        </span>
                        <span class="label btn-danger span-sidebar">
                            11
                        </span>
                </a>
                <ul class="sub" id="data_ub">
                    <!--<li id="data_ount">-->
                        <!--<a href="{:U('Home/PersonDefineFinishWork/perDefine')}" style="font-size: 12px;">-->
                            <!--个人待确认-->
                        <!--</a>-->
                    <!--</li>-->
                    <li id="cs_difine">
                        <a href="{:U('Home/PersonDefineFinishWork/csDefine')}" style="font-size: 12px;">
                            保全柜面清单
                        </a>
                    </li>
                    <li id="cs_out_define">
                        <a href="{:U('Home/PersonDefineFinishWork/csOutDefine')}" style="font-size: 12px;">
                            保全外围清单
                        </a>
                    </li>
                    <li id="nb_tb_define">
                        <a href="{:U('Home/PersonDefineFinishWork/nbTbDefine')}" style="font-size: 12px;">
                            投保信息清单
                        </a>
                    </li>
                    <li id="nb_bd_define">
                        <a href="{:U('Home/PersonDefineFinishWork/nbBdDefine')}" style="font-size: 12px;">
                            保险合同清单
                        </a>
                    </li>
                    <li id="clm_define">
                        <a href="{:U('Home/PersonDefineFinishWork/clmDefine')}" style="font-size: 12px;">
                            理赔核对清单
                        </a>
                    </li>
                    <li id="uw_define">
                        <a href="{:U('Home/PersonDefineFinishWork/uwDefine')}" style="font-size: 12px;">
                            核保核对清单
                        </a>
                    </li>
                    <li id="cs_chat_define">
                        <a href="{:U('Home/PersonDefineFinishWork/csChatDefine')}" style="font-size: 12px;">
                            保全短信清单
                        </a>
                    </li>
                    <li id="nb_chat_define">
                        <a href="{:U('Home/PersonDefineFinishWork/nbChatDefine')}" style="font-size: 12px;">
                            承保短信清单
                        </a>
                    </li>
                    <li id="nb_notice_define">
                        <a href="{:U('Home/PersonDefineFinishWork/nbNoticeDefine')}" style="font-size: 12px;">
                            通知书核对清单
                        </a>
                    </li>
                    <li id="nb_cbyw_define">
                        <a href="{:U('Home/PersonDefineFinishWork/nbCbywDefine')}" style="font-size: 12px;">
                            承保业务核对清单
                        </a>
                    </li>
                    <li id="clm_chat_define">
                        <a href="{:U('Home/PersonDefineFinishWork/clmChatDefine')}" style="font-size: 12px;">
                            理赔/核保短信清单
                        </a>
                    </li>
                </ul>
            </li>

            <!--登陆界面-->
            <li>
                <a href="{:U('Home/Method/back')}">
                    <i class="fa fa-user">
                    </i>
                        <span style="font-size: 14px;">
                           登录页面
                        </span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<!-- 边栏 -->