<p id="user_name" style="display:none">{$username}</p>
<p id="username_chinese" style="display:none">{$username_chinese}</p>
<p id="user_type" style="display:none">{$user_type}</p>
<p id="user_day_post" style="display:none">{$user_day_post}</p>
<p id="list_type" style="display:none">{$list_type}</p>
<p id="username" style="display:none">{$username}</p>
<p id="weChatSub" style="display:none">{$weChatSub}</p>
<p id="weChatNum" style="display:none">{$weChatNum}</p>
<p id="weChatMatch" style="display:none">{$weChatMatch}</p>
<p id="weCESNum" style="display:none">{$weCESNum}</p>
<p id="is_reviewer" style="display:none">{$is_reviewer}</p>
<p id="is_delete_reviewer" style="display:none">{$is_delete_reviewer}</p>
<p id="is_delete_apply" style="display:none">{$is_delete_apply}</p>
<p id="is_sys_delete" style="display:none">{$is_sys_delete}</p>
<p id="is_work_delete" style="display:none">{$is_work_delete}</p>
<p id="exec_type" style="display:none">{$exec_type}</p>
<p id="is_dz_chat" style="display:none">{$is_dz_chat}</p>