<p id="user_name" style="display:none">{$username}</p>
<p id="username_chinese" style="display:none">{$username_chinese}</p>
<p id="user_type" style="display:none">{$user_type}</p>
<p id="user_day_post" style="display:none">{$user_day_post}</p>
<p id="list_type" style="display:none">{$list_type}</p>
<p id="username" style="display:none">{$username}</p>
<p id="weChatSub" style="display:none">{$weChatSub}</p>
<p id="weChatNum" style="display:none">{$weChatNum}</p>
<p id="weChatMatch" style="display:none">{$weChatMatch}</p>
<p id="weCESNum" style="display:none">{$weCESNum}</p>
<p id="cs_time" style="display:none">{$cs_time}</p>
<p id="clm_time" style="display:none">{$clm_time}</p>
<p id="nb_time" style="display:none">{$nb_time}</p>
<p id="tc_time" style="display:none">{$tc_time}</p>
<p id="is_reviewer" style="display:none">{$is_reviewer}</p>
<p id="is_delete_reviewer" style="display:none">{$is_delete_reviewer}</p>
<p id="is_delete_apply" style="display:none">{$is_delete_apply}</p>
<p id="is_sys_delete" style="display:none">{$is_sys_delete}</p>
<p id="is_work_delete" style="display:none">{$is_work_delete}</p>
<p id="exec_type" style="display:none">{$exec_type}</p>
<p id="is_dz_chat" style="display:none">{$is_dz_chat}</p>
<p id="is_back_user" style="display:none">{$is_back_user}</p>
<p id="is_bx_define_user" style="display:none">{$is_bx_define_user}</p>
<p id="no_show_list" style="display:none">{$no_show_list}</p>
<p id="bug_show" style="display:none">{$bug_show}</p>
<p id="sx_list_type" style="display:none">{$sx_list_type}</p>
<p id="set_organ_level" style="display:none">{$set_organ_level}</p>
<p id="set_organ_code" style="display:none">{$set_organ_code}</p>
<p id="is_lock" style="display:none">{$is_lock}</p>
<p id="hd_user_code" style="display:none">{$hd_user_code}</p>
<p id="sys_type" style="display:none">{$sys_type}</p>
<p id="bx_daypost_organ" style="display:none">{$bx_daypost_organ}</p>
<p id="bx_daypost_organ_list" style="display:none">{$bx_daypost_organ_list}</p>
<p id="sx_daypost_organ" style="display:none">{$sx_daypost_organ}</p>
<p id="sx_daypost_organ_list" style="display:none">{$sx_daypost_organ_list}</p>
<p id="channel_type" style="display:none">{$channel_type}</p>
<p id="bx_list_type" style="display:none">{$bx_list_type}</p>
<p id="user_organ_code" style="display:none">{$user_organ_code}</p>



<div class="modal fade" id="sysNotice">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title center"><strong>系统通知</strong></h4>
            </div>
            <div class="panel-body" style="margin-top:20px;">

                <div class="col-lg-12" style="margin-top:10px;">
                    <section class="panel">
                        <form class="form-horizontal tasi-form" method="get">
                            <div class="form-group">
                                <div class="order-left-10 modify-user-div">
                                    <strong><div class="star-red" id="sys_notice_text" style="font-size: larger"></div></strong>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-warning" type="button" id="dealModal" data-dismiss="modal" disabled>确认</button>
            </div>
        </div>
    </div>
</div>