<!DOCTYPE html>
<html lang="en">
<head>
    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Olive Enterprise">
    <!-- END META -->

    <!-- BEGIN SHORTCUT ICON -->
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">
    <!-- END SHORTCUT ICON -->
    <title>
        {$TITLE}
    </title>
    <!-- BEGIN STYLESHEET-->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/css/bootstrap-reset.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/assets/font-awesome/css/font-awesome.css" rel="stylesheet"><!-- 字体 -->
    <link href="__PUBLIC__/css/style.css" rel="stylesheet"><!-- THEME BASIC CSS -->
    <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet"><!-- THEME RESPONSIVE CSS -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/nestable/jquery.nestable.css"><!-- NESTABLE CSS -->
    <link href="__PUBLIC__/css/sco.message.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/userManage/modify-user.css">

    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.js">
    </script>
    <script src="__PUBLIC__/js/respond.min.js">
    </script>
    <![endif]-->
    <!-- END STYLESHEET-->
</head>
<script type="text/javascript">
    var HOST = "__HOST__";
</script>
<body id="body">
<!-- SECTION -->
<section id="container">

    <include file="Public/header"/>
    <include file="Public/aside"/>

    <!-- 主窗体 -->
    <section id="main-content">

        <!-- 主容器  -->
        <section class="wrapper">
                    <div class="panel" id="data_load_show">
                        <header class="panel-heading">
                            <span><strong>确认结果修改请求:
                        </header>
                        <div class="panel-body">
                            <div style="padding-top:10pt;">
                                <div class="col-sm-12">
                                    <div ><span class="red">*</span><span><strong>修改结果分类: <span class="red">*</span>保全短信/<span class="red">*</span>保全复核/<span class="red">*</span>保全核保/<span class="red">*</span>保全受理/<span class="red">*</span>保险合同/<span class="red">*</span>承保短信/<span class="red">*</span>出单前撤保/<span class="red">*</span>回执<br />
                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class="red">*</span>理赔核保/<span class="red">*</span>理赔审核/<span class="red">*</span>理赔自核/<span class="red">*</span>其他承保业务/<span class="red">*</span>契约核保/<span class="red">*</span>通知书/<span class="red">*</span>投保信息/<span class="red">*</span>续保核保</strong></span>
                                        <span class="red" style="font-size:3pt"><strong>同时加载多项时分号隔开</strong> </span><input type="text" class="form-control add_user" id="load_data_type" placeholder="请输入确认结果修改类型+关键业务号码，如保单号受理号等"></div>
                                </div>
                                <div>
                                    <div class="col-sm-6" style="margin-top: 14pt"><span class="red">*</span><span><strong>修改原因: </strong></span><span class="red" style="font-size:3pt"><strong> 简单说明原因即可</strong> </span><input type="text" class="form-control add_user" id="load_data_reason" placeholder="请输入确认结果修改原因"></div>
                                    <div class="col-sm-6" style="margin-top: 14pt"><span><strong>是否同时加载TC: <span class="red">*</span>是/<span class="red">*</span>否</strong></span><span class="red" style="font-size:3pt"><strong> 不可填写单独提请</strong> </span><input type="text" class="form-control add_user" id="with_tc" value="否" readonly></div>
                                </div>
                                <div class="col-sm-12" style="margin-top:20pt;margin-left:25%">
                                    <button type="button" id="loadData" class="btn btn-primary col-sm-6">提交确认结果修改请求</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel" id="tc_data_load_show">
                        <header class="panel-heading">
                            <span><strong>TC数据加载请求: <span class="red" style="font-size: 3pt"> 关联缺陷系统查看BUG信息</span></strong></span>
                        </header>
                        <div class="panel-body">
                            <div>
                                <div class="col-sm-12" style="margin-top: 14pt"><span class="red">*</span><span><strong>加载原因: </strong></span><span class="red" style="font-size:3pt"><strong> 简单说明原因即可</strong> </span><input type="text" class="form-control add_user" id="load_tc_reason" placeholder="请输入数据加载原因"></div>
                            </div>
                            <div class="col-sm-12" style="margin-top:20pt;margin-left:25%">
                                <button type="button" id="loadTcData" class="btn btn-primary col-sm-6">提交TC数据加载请求</button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <section class="panel">
                            <header class="panel-heading">
                                <span><strong>数据加载请求记录</strong></span>
                            </header>
                            <div style="margin:0 5px;margin-top: 10pt;margin-left: 10pt">
                                <table id="user_list_table" style="table-layout: fixed;"></table>
                            </div>
                        </section>
                    </div>


            <div class="panel" id="pa_risk_set">
                <header class="panel-heading">
                    <span><strong>保单核对拦截配置</strong></span>
                </header>
                <div class="panel-body">
                    <div style="padding-top:10pt;">
                        <div>
                            <div class="col-sm-6"><span class="red">*</span><span><strong>首单保单号: </strong></span><span class="red" style="font-size:3pt"><strong>不带空格首单保单号</strong> </span><input type="text" class="form-control add_user" id="pa_risk_policy_code" placeholder="请输入首次核对正确的保单号"></div>
                            <div class="col-sm-6"><span><strong>开始日期: <span class="red">*</span>示例：2018-04-06<span class="red" style="font-size:3pt"><strong> 需大于等于当前日期</strong> </span><input type="text" class="form-control add_user" id="pa_risk_start_date"placeholder="请输入核对开始日期"></strong></span></div>
                        </div>
                        <div class="col-sm-12">
                            <div  style="margin-top: 14pt">
                                <span class="red">*</span>
                                <span><strong>险种组合: <span class="red">*</span>示例：00946000,00959000,00976000,00958000<span class="red" style="font-size:3pt"></span><strong>请使用英文格式下','否则匹配无法使用</strong> </span>
                                <!--<span class="red">*</span>理赔核保/<span class="red">*</span>理赔审核/<span class="red">*</span>理赔自核/<span class="red">*</span>其他承保业务/<span class="red">*</span>契约核保/<span class="red">*</span>通知书/<span class="red">*</span>投保信息/<span class="red">*</span>续保核保</strong></span>-->
                                <!--<span class="red" style="font-size:3pt"><strong>同时加载多项时分号隔开</strong> </span>-->
                                <input type="text" class="form-control add_user" id="pa_risk_code" placeholder="请输入险种组合升序逗号隔开"></div>
                        </div>
                        <div>
                            <div class="col-sm-6" style="margin-top: 14pt"><span class="red">*</span><span><strong>核对轮次: </strong></span><span class="red" style="font-size:3pt"><strong> 请在保单拦截记录信息中查询后填写，尽可填写当前或新增轮次</strong> </span><input type="text" class="form-control add_user" id="pa_risk_times" placeholder="请输入核对轮次"></div>
                            <div class="col-sm-6" style="margin-top: 14pt"><span><strong>险种组合拦截类型: <span class="red">*</span>包含不拦截/<span class="red">*</span>除外不拦截</strong></span><span class="red" style="font-size:3pt"><strong> 当前不提供修改功能</strong> </span><input type="text" class="form-control add_user" id="pa_risk_type" value="包含不拦截" readonly></div>
                        </div>
                        <div class="col-sm-12" style="margin-top:20pt;margin-left:25%">
                            <button type="button" id="pa_risk_submit" class="btn btn-primary col-sm-6">提交保单拦截配置</button>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <section class="panel">
                    <header class="panel-heading">
                        <span><strong>保单核对拦截记录</strong></span>
                    </header>
                    <div style="margin:0 5px;margin-top: 10pt;margin-left: 10pt">
                        <table id="pa_risk_recode_table" style="table-layout: fixed;"></table>
                    </div>
                </section>
            </div>

            <div class="panel" id="tc_data_load_exec">
                <header class="panel-heading">
                    <span><strong>数据加载<span class="red" style="font-size: 3pt"> 系统损耗较大，谨慎点击</span></strong></span>
                </header>
                <div class="panel-body ">
                    <div style="margin-left: 20%">
                        <!--<div  style="float: left">-->
                            <!--<div class="col-sm-12" style="margin-top:20pt;margin-left:25pt">-->
                                <!--<button type="button" id="execLoadDataCS" class="btn btn-primary col-sm-6" ><strong>保全受理</strong></button>-->
                            <!--</div>-->
                            <!--<div class="col-sm-12" style="margin-top:20pt;margin-left:25pt">-->
                                <!--<button type="button" id="execLoadDataCSFH" class="btn btn-primary col-sm-6"><strong>保全复核</strong></button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div style="float: left">-->
                            <!--<div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">-->
                                <!--<button type="button" id="execLoadDataCLMSL" class="btn btn-primary col-sm-6"><strong>理赔受理</strong></button>-->
                            <!--</div>-->
                            <!--<div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">-->
                                <!--<button type="button" id="execLoadDataCLMSHSP" class="btn btn-primary col-sm-6"><strong>理赔审核审批</strong></button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div style="float: left">-->
                            <!--<div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">-->
                                <!--<button type="button" id="execLoadDataUW" class="btn btn-primary col-sm-6"><strong>核保</strong></button>-->
                            <!--</div>-->
                            <!--<div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">-->
                                <!--<button type="button" id="execLoadDataNBCD" class="btn btn-primary col-sm-6"><strong>契约出单回执</strong></button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div style="margin-left: 110pt">
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execLoadTcData" class="btn btn-info col-sm-6"><strong>刷新TC</strong></button>
                            </div>
                        </div>
                         <div class="col-sm-12"  style="margin-top:20pt">
                                <button type="button" id="startLoadData" class="btn btn-success col-sm-4"><strong>灌数开始</strong></button>
                                <button type="button" id="endLoadData" class="btn btn-success col-sm-4" style="margin-left:85pt"><strong>灌数结束</strong></button>
                         </div>
                        <!--<div style="margin-left: 110pt">-->
                            <!--<div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">-->
                                <!--<button type="button" id="backloadTc" class="btn btn-warning col-sm-6"><strong>TC数据回写</strong></button>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <div class="panel" id="execCs">
                <header class="panel-heading">
                    <span><strong>保全-确认正确批处理<span class="red" style="font-size: 3pt"> 每日仅可点击一次，错误时请在数据处理中进行反馈</span></strong></span>
                </header>
                <div class="panel-body ">
                    <div style="margin-left: 20%">
                        <div style="margin-left: 110pt">
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execCsAccept" class="btn btn-info col-sm-6"><strong>当日保全受理一键确认</strong></button>
                            </div>
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execCsReview" class="btn btn-primary col-sm-6"><strong>当日保全复核一键确认</strong></button>
                            </div>
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execCsChat" class="btn btn-warning col-sm-6"><strong>保全短信一键确认</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel" id="execClm">
                <header class="panel-heading">
                    <span><strong>理赔-确认正确批处理<span class="red" style="font-size: 3pt"> 每日仅可点击一次，错误时请在数据处理中进行反馈</span></strong></span>
                </header>
                <div class="panel-body ">
                    <div style="margin-left: 20%">
                        <div style="margin-left: 110pt">
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execClmSh" class="btn btn-info col-sm-6"><strong>当日理赔审核一键确认</strong></button>
                            </div>
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execClmZh" class="btn btn-primary col-sm-6"><strong>当日理赔自核一键确认</strong></button>
                            </div>
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execClmChat" class="btn btn-warning col-sm-6"><strong>理赔短信</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel" id="execUw">
                <header class="panel-heading">
                    <span><strong>核保-确认正确批处理<span class="red" style="font-size: 3pt"> 每日仅可点击一次，错误时请在数据处理中进行反馈</span></strong></span>
                </header>
                <div class="panel-body">
                    <div style="margin-left: 20%">
                        <div style="margin-left: 110pt">
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execUwCs" class="btn btn-info col-sm-6"><strong>保全核保一键确认</strong></button>
                            </div>
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execUwNb" class="btn btn-primary col-sm-6"><strong>契约核保一键确认</strong></button>
                            </div>
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execUwClm" class="btn btn-warning col-sm-6"><strong>理赔核保一键确认</strong></button>
                            </div>
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execUwChat" class="btn btn-success col-sm-6"><strong>核保短信</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel" id="execNb">
                <header class="panel-heading">
                    <span><strong>新契约-确认正确批处理<span class="red" style="font-size: 3pt"> 每日仅可点击一次，错误时请在数据处理中进行反馈</span></strong></span>
                </header>
                <div class="panel-body ">
                    <div style="margin-left: 20%">
                        <div style="margin-left: 110pt">
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execNbChat" class="btn btn-info col-sm-6"><strong>承保短信一键确认</strong></button>
                            </div>
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execNbNotice" class="btn btn-primary col-sm-6"><strong>通知书一键确认</strong></button>
                            </div>
                            <div class="col-sm-12"  style="margin-top:20pt;margin-left:25pt">
                                <button type="button" id="execNbTb" class="btn btn-warning col-sm-6"><strong>投保信息一键确认</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--测试用文本框-->
            <textarea id="list_output" rows="3" class="form-control" style="visibility:hidden"></textarea>
            <textarea id="username" style="display:none">{$username}</textarea>
            <textarea id="usertype" style="display:none">{$usertype}</textarea>


        </section>
        <!-- 主容器  -->

        <div class="modal fade" id="waitDeal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">数据请求信息提示</h4>
                    </div>
                    <div class="modal-body text-center">
                        <span class="left-30 red size-16" id="waitDealText"></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" id="waitDealSure" type="button">确认</button>
                    </div>
                </div>
            </div>
            <span style="display:none" id="myModalHide"></span>
        </div>

        <div class="modal fade" id="loadProcess">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body text-center">
                        <span class="left-30">数据正在加载中请稍后</span>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- 主窗体 -->

    <include file="Public/footer-20"/>
    <include file="Public/check"/>

</section>
<!-- SECTION -->

<!-- JS -->

<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script><!-- BASIC JQUERY 1.8.3 LIB. JS -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script><!-- BOOTSTRAP JS -->
<script src="__PUBLIC__/js/jquery.dcjqaccordion.2.7.js"></script><!-- 左侧子菜单栏显示 -->
<script src="__PUBLIC__/js/jquery.scrollTo.min.js"></script><!-- SCROLLTO JS -->
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script><!-- NICESCROLL JS -->
<script src="__PUBLIC__/js/respond.min.js"></script><!-- RESPOND JS -->
<script src="__PUBLIC__/js/jquery.sparkline.js"></script><!-- SPARKLINE JS -->
<script src="__PUBLIC__/js/common-scripts.js"></script><!-- BASIC COMMON JS -->
<script src="__PUBLIC__/js/sco.message.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/bootstrap-table.min.js"></script>
<script src="__PUBLIC__/js/bootstrap-table-zh-CN.min.js"></script>
<script src="__PUBLIC__/js/PostDataLoad/postDataLoad.js" type="text/javascript"></script>
<!--<script src="__PUBLIC__/js/userManage/userManage.js" type="text/javascript"></script>-->
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/bootstrap-table-develop/dist/bootstrap-table.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/bootstrap-table-develop/dist/extensions/export/bootstrap-table-export.js"></script>

<script src="__PUBLIC__/js/bootstrap_above/tableExport/libs/pdfmake/pdfmake.min.js"></script>
<script src="__PUBLIC__/js/bootstrap_above/tableExport/libs/pdfmake/vfs_fonts.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/tableExport/libs/FileSaver/FileSaver.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/tableExport/libs/jsPDF/jspdf.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/tableExport/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap_above/tableExport/tableExport.js"></script>
<script src="__PUBLIC__/js/md5.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/startWithNotice.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/public/userCheck.js"></script>

</body>
</html>


