<!DOCTYPE html>
<html lang="en">
<head>
    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Olive Enterprise">
    <!-- END META -->

    <!-- BEGIN SHORTCUT ICON -->
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">
    <!-- END SHORTCUT ICON -->
    <title>
        {$TITLE}
    </title>
    <!-- BEGIN STYLESHEET-->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/css/bootstrap-reset.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/assets/font-awesome/css/font-awesome.css" rel="stylesheet"><!-- 字体 -->
    <link href="__PUBLIC__/css/style.css" rel="stylesheet"><!-- THEME BASIC CSS -->
    <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet"><!-- THEME RESPONSIVE CSS -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/nestable/jquery.nestable.css"><!-- NESTABLE CSS -->
    <link href="__PUBLIC__/css/sco.message.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/setAutoRes/set-auto-list.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/dropzone/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.stepy.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-select.min.css">

    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.js">
    </script>
    <script src="__PUBLIC__/js/respond.min.js">
    </script>
    <![endif]-->
    <!-- END STYLESHEET-->
</head>
<script type="text/javascript">
    var HOST = "__HOST__";
    var HOSTLOCAL = "__HOSTLOCAL__";
</script>
<body id="body" onbeforeunload="unbindLog()">
<!-- SECTION -->
<section id="container">

    <include file="Public/header"/>
    <include file="Public/aside"/>

    <!-- 主窗体 -->
    <section id="main-content">

        <!-- 主容器  -->
        <section class="wrapper">

            <!--数据表格管理维护注意事项-->
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h1 class="panel-title-red">
                        数据表格管理维护注意事项：
                    </h1>
                </div>
                <div class="panel-body" rows="8">
                    1、系统数据维护模块提供对于系统数据表的导入维护功能。<br>
                    2、Excel的导入支持07版本以下的xls格式导入。<br>
                    3、Excel的导入时需以单个文件逐步导入,导入成功后进度条显示为100%时可点击右上方'X'退出导入弹窗。<br>
                    4、导入文件的选取可通过单击或拖拽的形式进行导入。<br>
                </div>
            </div>


            <div class="row">

                <div class="panel-body" style="padding-bottom:0px;">
                    <section class="panel">
                        <header class="panel-heading">
                            <span class="label label-primary">文件上传</span>
                            <span class="tools pull-right">
                            <!--<a href="javascript:;" class="fa fa-chevron-down"></a>-->
                                <!--<a href="javascript:;" class="fa fa-times"></a>-->
                            </span>
                        </header>
                        <div class="panel-body">
                            <form action="{:U('Home/Method/upload')}" id="dropzone" class="dropzone dz-clickable"
                                  enctype='multipart/form-data'>
                                <div class="dz-default dz-message"><span>拖拽文件至此上传</span></div>
                            </form>
                        </div>
                    </section>
                </div>

            </div>

            <!--测试用文本框-->
            <textarea id="list_output" rows="3" class="form-control" style="visibility:hidden"></textarea>

        </section>
        <!-- 主容器  -->

        <div class="modal fade" id="subModel" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h5 class="modal-title">确定上传文件提示</h5>
                    </div>
                    <div class="modal-body text-center">
                        <span class="left-30 red size-16">确定要上传该文件吗？</span>
                        <footer style="margin-top: 20px;">
                            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                            <button class="btn btn-warning" style="margin-left: 50px;" id="sureSubmit" type="button">
                                确认
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
            <span style="display:none" id="myModalHide"></span>
        </div>

        <div class="modal fade" id="uploadStep" data-backdrop="static">
            <div class="modal-dialog" style="width:630px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h5 class="modal-title">请按步骤选择要维护的数据表</h5>
                    </div>
                    <div class="modal-body text-center">
                        <div class="panel-body">
                            <div class="box-widget" style="margin: 0 auto;text-align: center;">
                                <div class="widget-head clearfix">
                                    <div id="top_tabby" class="block-tabby ">
                                        <ul id="stepy_form-titles" class="stepy-titles clearfix">
                                            <li id="stepy_form-title-1" class="current-step"
                                                style="cursor: default;">
                                                <div>第一步</div>
                                                <span>选择表格</span></li>
                                            <li id="stepy_form-title-2" style="cursor: default;" class="">
                                                <div>第二步</div>
                                                <span>匹配字段</span></li>
                                            <li id="stepy_form-title-3" style="cursor: default;" class="">
                                                <div>第三步</div>
                                                <span>开始导入</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget-container">
                                    <div class="widget-content box-padding" style="text-align:center;margin: 0 auto;">
                                        <div id="field1">
                                            <textarea id="table_name" rows="1" style="visibility:hidden"></textarea>

                                            <div class="col-sm-12" style="margin-left:2%">
                                                <span class="red">*</span><span><strong>数据库表格选项: </strong></span>
                                                <select id="db_table" class="selectpicker show-tick form-control">
                                                    {$DBtable}
                                                </select>
                                            </div>

                                            <div class="col-sm-10" style="margin-left:10%;margin-top: 10pt">
                                                <span class="red">*</span><span><strong>数据库表格操作类型: </strong></span>
                                                <select id="is_delete" class="selectpicker show-tick form-control">
                                                    <!--<option value="-1">==选择==</option>-->
                                                    <!--<option value="0">清空后新增</option>-->
                                                    <!--<option value="1">直接新增</option>-->
                                                    <!--<option value="2">主键更新（暂不支持）</option>-->
                                                </select>
                                            </div>

                                                <textarea rows="2" class="col-sm-12"
                                                          style="visibility:hidden"></textarea>
                                            <button id="stepy_form-next-1" onclick="upload_next('1');"
                                                    class="button-next btn btn-info pull_right">下一步
                                            </button>
                                        </div>
                                        <div id="field2" style="display: none;">
                                            <textarea id="select_amount" rows="1" style="visibility:hidden"></textarea>

                                            <div class="col-sm-10" style="margin-left:10%" id="match_field">
                                            </div>
                                                <textarea rows="2" class="col-sm-12"
                                                          style="visibility:hidden"></textarea>
                                            <button id="stepy_form-back-2" onclick="upload_back('2');"
                                                    class="button-back btn btn-info">上一步
                                            </button>
                                            <button id="stepy_form-next-2" onclick="upload_next('2');"
                                                    class="button-next btn btn-info pull_right">下一步
                                            </button>
                                        </div>
                                        <div id="field3" style="display: none;">
                                            <textarea id="match_relation" rows="1" style="visibility:hidden"></textarea>

                                            <div class="col-sm-10" style="margin-left:10%">

                                                <section class="panel">
                                                    <header class="panel-heading">
                                                        <span class="label label-primary">文件上传／数据库导入进度</span>
                                                        <span class="tools pull-right">
                                                           <a class="fa fa-chevron-down" href="javascript:;"></a>
                                                            <!--<a class="fa fa-times" href="javascript:;"></a>-->
                                                            <!--按钮叉-->
                                                        </span>
                                                    </header>
                                                    <div class="panel-body">
                                                        <div class="progress progress-striped active progress-sm">
                                                            <div class="progress-bar progress-bar-green"
                                                                 role="progressbar" id="progress"
                                                                 aria-valuenow="100" aria-valuemin="0"
                                                                 aria-valuemax="100" style="width: 0%;">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            已完成<span id="show_progress">0</span>%
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                                <textarea rows="2" class="col-sm-12"
                                                          style="visibility:hidden"></textarea>
                                            <button id="stepy_form-back-3" onclick="upload_back('3');"
                                                    class="button-back btn btn-info">上一步
                                            </button>
                                            <button id="stepy_form-next-3" onclick="startMatch();"
                                                    class="button-next btn btn-info pull_right">开始导入
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- 主窗体 -->

    <include file="Public/footer-20"/>
    <include file="Public/check"/>

</section>
<!-- SECTION -->

<!-- JS -->

<!--<script src="__PUBLIC__/js/jquery.js"></script>&lt;!&ndash; BASIC JQUERY LIB. JS &ndash;&gt;-->
<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script><!-- BASIC JQUERY 1.8.3 LIB. JS -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script><!-- BOOTSTRAP JS -->
<script src="__PUBLIC__/js/jquery.dcjqaccordion.2.7.js"></script><!-- 左侧子菜单栏显示 -->
<script src="__PUBLIC__/js/jquery.scrollTo.min.js"></script><!-- SCROLLTO JS -->
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script><!-- NICESCROLL JS -->
<script src="__PUBLIC__/js/respond.min.js"></script><!-- RESPOND JS -->
<script src="__PUBLIC__/js/jquery.sparkline.js"></script><!-- SPARKLINE JS -->
<script src="__PUBLIC__/js/common-scripts.js"></script><!-- BASIC COMMON JS -->
<script src="__PUBLIC__/js/sco.message.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/bootstrap-table.min.js"></script>
<script src="__PUBLIC__/js/bootstrap-table-zh-CN.min.js"></script>
<script src="__PUBLIC__/assets/dropzone/dropzone.js" type="text/javascript"></script>
<script src="__PUBLIC__/assets/dropzone/form-dropzone.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/userManage/dataTableManage.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/jquery.stepy.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/public/userCheck.js"></script>
<script src="__PUBLIC__/js/bootstrap-select.min.js"></script>

<script>
    $("#dropzone").dropzone({
        paramName: "file",
        maxFilesize: 10.0, // MB
        maxFiles: 1,//一次性上传的文件数量上限
        acceptedFiles: ".xls,.xlsx,.csv",
        addRemoveLinks: false,//添加移除文件
        autoProcessQueue: false,//不自动上传
        dictCancelUploadConfirmation: '你确定要取消上传吗？',
        dictMaxFilesExceeded: "您一次最多只能上传1个文件",
        dictFileTooBig: "文件过大({{filesize}}MB). 上传文件最大支持: {{maxFilesize}}MB.", init: function () {
            var submitButton = document.querySelector("#sureSubmit");
            myDropzone = this; // closure
            submitButton.addEventListener("click", function () {
                $('#subModel').modal('hide');
                //手动上传
                myDropzone.processQueue();
                $('#uploadStep').modal().css({
                    'margin-top': function () {
                        return (document.body.scrollHeight / 12);
                    },
                });
                $('#uploadStep').modal('show');
            });
            //添加了文件的事件
            this.on("addedfile", function (file) {
                // Create the remove button
                var removeButton = Dropzone.createElement("<button class='btn btn-primary btn-sm btn-block'>删除文件</button>");

                // Capture the Dropzone instance as closure.
                var _this = this;

                // Listen to the click event
                removeButton.addEventListener("click", function (e) {
                    // Make sure the button click doesn't submit the form:
                    e.preventDefault();
                    e.stopPropagation();

                    // Remove the file preview.
                    _this.removeFile(file);
                    // If you want to the delete the file on the server as well,
                    // you can do the AJAX request here.
                });

                // Add the button to the file preview element.
                file.previewElement.appendChild(removeButton);
                //存储文件名
                $('#list_output').val(file.name);
                //修改modal的css
                $('#subModel').modal().css({
                    'margin-top': function () {
                        return (document.body.scrollHeight / 5);
                    }
                });
                $('#subModel').modal('show');
            });
            this.on("success", function (file, data) {
                if (data == "upErr") {
                    $.scojs_message('服务器异常，文件上传失败！', $.scojs_message.TYPE_ERROR);
                } else {
                    $.scojs_message(data, $.scojs_message.TYPE_OK);
                }
            });
            this.on("error", function (file) {
                $.scojs_message('服务器异常，文件上传失败！', $.scojs_message.TYPE_ERROR);
            });
        }
    });

</script>
<!-- JS -->

</body>
</html>


