<!DOCTYPE html>
<html lang="en">
<head>
    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Olive Enterprise">
    <!-- END META -->

    <!-- BEGIN SHORTCUT ICON -->
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">
    <!-- END SHORTCUT ICON -->
    <title>
        CES - 课程评价管理系统
    </title>
    <!-- BEGIN STYLESHEET-->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/css/bootstrap-reset.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/assets/font-awesome/css/font-awesome.css" rel="stylesheet"><!-- 字体 -->
    <link href="__PUBLIC__/css/style.css" rel="stylesheet"><!-- THEME BASIC CSS -->
    <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet"><!-- THEME RESPONSIVE CSS -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/nestable/jquery.nestable.css"><!-- NESTABLE CSS -->
    <link href="__PUBLIC__/css/sco.message.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/setAutoRes/set-auto-list.css">

    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.js">
    </script>
    <script src="__PUBLIC__/js/respond.min.js">
    </script>
    <![endif]-->
    <!-- END STYLESHEET-->
</head>
<script type="text/javascript">
    var HOST = "__HOST__";
</script>
<body id="body">
<!-- SECTION -->
<section id="container">

    <include file="Public/header"/>
    <include file="Public/aside"/>


    <!-- 主窗体 -->
    <section id="main-content">

        <!-- 主容器  -->
        <section class="wrapper">

            <!--系统课程维护注意事项-->
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h1 class="panel-title-red">
                        系统课程维护注意事项：
                    </h1>
                </div>
                <div class="panel-body" rows="8">
                    1、系统课程模块提供对于系统课程的导入导出功能。<br>
                    2、Excel的导入导出支持07版本一下的xls各式导入导出或CSV格式。<br>
                </div>
            </div>


            <div class="row">

                <div class="panel-body" style="padding-bottom:0px;">

                </div>

            </div>

            <!--测试用文本框-->
            <textarea id="list_output" rows="3" class="form-control" style="visibility:hidden"></textarea>

        </section>
        <!-- 主容器  -->

        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">删除自动回复提示</h4>
                    </div>
                    <div class="modal-body text-center">
                        <span class="left-30 red size-16">删除后将无法恢复！确认要删除自动回复吗？</span>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <button class="btn btn-warning" type="button" onclick="deleteSub();">确认</button>
                    </div>
                </div>
            </div>
            <span style="display:none" id="myModalHide"></span>
        </div>

    </section>
    <!-- 主窗体 -->

    <include file="Public/footer-20"/>

</section>
<!-- SECTION -->

<!-- JS -->

<!--<script src="__PUBLIC__/js/jquery.js"></script>&lt;!&ndash; BASIC JQUERY LIB. JS &ndash;&gt;-->
<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script><!-- BASIC JQUERY 1.8.3 LIB. JS -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script><!-- BOOTSTRAP JS -->
<script src="__PUBLIC__/js/jquery.dcjqaccordion.2.7.js"></script><!-- 左侧子菜单栏显示 -->
<script src="__PUBLIC__/js/jquery.scrollTo.min.js"></script><!-- SCROLLTO JS -->
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script><!-- NICESCROLL JS -->
<script src="__PUBLIC__/js/respond.min.js"></script><!-- RESPOND JS -->
<script src="__PUBLIC__/js/jquery.sparkline.js"></script><!-- SPARKLINE JS -->
<script src="__PUBLIC__/js/common-scripts.js"></script><!-- BASIC COMMON JS -->
<script src="__PUBLIC__/js/sco.message.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/bootstrap-table.min.js"></script>
<script src="__PUBLIC__/js/bootstrap-table-zh-CN.min.js"></script>
<script src="__PUBLIC__/js/dataManage/sysCourse.js" type="text/javascript"></script>


<script>

</script>
<!-- JS -->

</body>
</html>


