<!DOCTYPE html>
<html lang="en">
<head>
    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Olive Enterprise">
    <!-- END META -->

    <!-- BEGIN SHORTCUT ICON -->
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">
    <!-- END SHORTCUT ICON -->
    <title>
        CES - 课程评价管理系统
    </title>
    <!-- BEGIN STYLESHEET-->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/css/bootstrap-reset.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="__PUBLIC__/assets/font-awesome/css/font-awesome.css" rel="stylesheet"><!-- 字体 -->
    <link href="__PUBLIC__/css/style.css" rel="stylesheet"><!-- THEME BASIC CSS -->
    <link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet"><!-- THEME RESPONSIVE CSS -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/nestable/jquery.nestable.css"><!-- NESTABLE CSS -->
    <link href="__PUBLIC__/css/sco.message.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv.js">
    </script>
    <script src="__PUBLIC__/js/respond.min.js">
    </script>
    <![endif]-->
    <!-- END STYLESHEET-->
</head>
<script type="text/javascript">
    var HOST = "__HOST__";
</script>
<body id="body">
<!-- SECTION -->
<section id="container">

    <include file="Public/header"/>
    <include file="Public/aside"/>

    <!-- 主窗体 -->
    <section id="main-content">

        <!-- 主容器  -->
        <section class="wrapper">

            <!--微信菜单设置注意事项-->
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h1 class="panel-title-red">
                        微信菜单设置注意事项：
                    </h1>
                </div>
                <div class="panel-body" rows="8">
                    1、自定义菜单最多包括3个一级菜单，每个一级菜单最多包含5个二级菜单。<br>
                    2、一级菜单最多4个汉字，二级菜单最多7个汉字，多出来的部分将会以“...”代替。<br>
                    3、创建自定义菜单后，由于微信客户端缓存，需要24小时微信客户端才会展现出来。测试时可以尝试取消关注公众账号后再次关注，则可以看到创建后的效果。<br>
                    <br><br><br><br><br>
                </div>
            </div>

            <!--微信菜单设置-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            微信菜单设置

                            <span class="tools pull-right">

                                <div id="nestable_list_menu" class="data-action-div">
                                    <a href="javascript:;" data-action="expand-all">
                                        展开菜单
                                    </a>
                                    <a href="javascript:;" data-action="collapse-all" class="data-action-a">
                                        合并菜单
                                    </a>
                                </div>
                                <div class="right">
                                    <a href="javascript:;" onclick="refreshRequset();"
                                       class="fa fa-rotate-right data-action-refresh">
                                    </a>
                                    <a href="javascript:;" onclick="checkNestable();" class="data-action-submit">
                                        提交菜单设置
                                    </a>
                                </div>

                            </span>
                        </header>
                        <div class="panel-body">
                            <div class="dd col-lg-12" id="nestable_list_1">
                                <ol class="col-lg-12 dd-list">

                                    <li class="dd-item dd3-item" data-id="1" id="nestable1" style="display:block">
                                        <div class="dd-handle dd3-handle"></div>
                                        <div class="dd3-content-et">
                                            <div class="order-left-20">
                                                <label class="order-label">1</label>
                                            </div>
                                            <input type="text" id="nestable-1-menu" placeholder="请输入菜单名称："
                                                   class="nestable-et order_input" style="display:block">

                                            <div class="order-left-10" id="nestable-1-2">
                                                <label class="order-label">2</label>
                                            </div>
                                            <label class="order-label left" id="nestable-1-hint">请选择菜单类型:</label>

                                            <select class="dd3-content-et m-bot15 order-select" id="nestable-1-type"
                                                    style="display:block">
                                                <option value="view">链接</option>
                                                <option value="click">文本</option>
                                            </select>

                                            <div class="order-left-10" id="nestable-1-3">
                                                <label class="order-label">3</label>
                                            </div>
                                            <input type="text" placeholder="请输入链接url地址或文本内容："
                                                   class="nestable-et order_input width-250" id="nestable-1-content"
                                                   style="display:block">

                                            <div class="bg-order-delete-ol">
                                                <a href="javascript:;" onclick="nesTableHide('nestable1');"
                                                   class="fa order-delete" data-toggle="modal"><label>删除所有</label></a>
                                            </div>

                                            <div class="netsable-add-bg" id="nestable-add-2">
                                                <a href="javascript:;" onclick="addNestable('nestable2');"><label
                                                        class="nestable-add">+</label></a>
                                            </div>
                                        </div>

                                        <ol class="dd-list">
                                            <li class="dd-item dd3-item dis-none" id="nestable2" data-id="2"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-2-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-2-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           placeholder="请输入链接url地址或文本内容："
                                                           id="nestable-2-content" style="display:block">

                                                    <div class="bg-order-delete" id="nestable-2-delete">
                                                        <a onclick="nesTableHide('nestable2');" class="fa order-delete"><label>删除</label></a>
                                                    </div>

                                                    <div class="netsable-add-bg" id="nestable-add-3">
                                                        <a href="javascript:;"
                                                           onclick="addNestable('nestable3');"><label
                                                                class="nestable-add">+</label></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item dd3-item dis-none" id="nestable3" data-id="3"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-3-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-3-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           id="nestable-3-content" style="display:block">

                                                    <div class="bg-order-delete" id="nestable-3-delete">
                                                        <a onclick="nesTableHide('nestable3');" class="fa order-delete"><label>删除</label></a>
                                                    </div>

                                                    <div class="netsable-add-bg" id="nestable-add-4">
                                                        <a href="javascript:;"
                                                           onclick="addNestable('nestable4');"><label
                                                                class="nestable-add">+</label></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item dd3-item dis-none" id="nestable4" data-id="4"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-4-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-4-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           id="nestable-4-content" style="display:block">

                                                    <div class="bg-order-delete" id="nestable-4-delete">
                                                        <a onclick="nesTableHide('nestable4');" class="fa order-delete"><label>删除</label></a>
                                                    </div>

                                                    <div class="netsable-add-bg" id="nestable-add-5">
                                                        <a href="javascript:;"
                                                           onclick="addNestable('nestable5');"><label
                                                                class="nestable-add">+</label></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item dd3-item dis-none" id="nestable5" data-id="5"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-5-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-5-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           id="nestable-5-content" style="display:block">

                                                    <div class="bg-order-delete" id="nestable-5-delete">
                                                        <a onclick="nesTableHide('nestable5');" class="fa order-delete"><label>删除</label></a>
                                                    </div>

                                                    <div class="netsable-add-bg" id="nestable-add-6">
                                                        <a href="javascript:;"
                                                           onclick="addNestable('nestable6');"><label
                                                                class="nestable-add">+</label></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item dd3-item dis-none" id="nestable6" data-id="6"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-6-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-6-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           id="nestable-6-content" style="display:block">

                                                    <div class="bg-order-delete">
                                                        <a onclick="nesTableHide('nestable6');" class="fa order-delete"><label>删除</label></a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </li>

                                    <li class="dd-item dd3-item" data-id="7" id="nestable7" style="display:block">
                                        <div class="dd-handle dd3-handle"></div>
                                        <div class="dd3-content-et">
                                            <div class="order-left-20">
                                                <label class="order-label">1</label>
                                            </div>
                                            <input type="text" id="nestable-7-menu" placeholder="请输入菜单名称："
                                                   class="nestable-et order_input" style="display:block">

                                            <div class="order-left-10" id="nestable-7-2">
                                                <label class="order-label">2</label>
                                            </div>
                                            <label class="order-label left" id="nestable-7-hint">请选择菜单类型:</label>

                                            <select class="dd3-content-et m-bot15 order-select" id="nestable-7-type"
                                                    style="display:block">
                                                <option value="view">链接</option>
                                                <option value="click">文本</option>
                                            </select>

                                            <div class="order-left-10" id="nestable-7-3">
                                                <label class="order-label">3</label>
                                            </div>
                                            <input type="text" placeholder="请输入链接url地址或文本内容："
                                                   class="nestable-et order_input width-250" id="nestable-7-content"
                                                   style="display:block">

                                            <div class="bg-order-delete-ol">
                                                <a onclick="nesTableHide('nestable7');" class="fa order-delete"><label>删除所有</label></a>
                                            </div>

                                            <div class="netsable-add-bg" id="nestable-add-8">
                                                <a href="javascript:;" onclick="addNestable('nestable8');"><label
                                                        class="nestable-add">+</label></a>
                                            </div>

                                        </div>

                                        <ol class="dd-list">
                                            <li class="dd-item dd3-item dis-none" id="nestable8" data-id="8"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-8-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-8-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           placeholder="请输入链接url地址或文本内容："
                                                           id="nestable-8-content" style="display:block">

                                                    <div class="bg-order-delete" id="nestable-8-delete">
                                                        <a onclick="nesTableHide('nestable8');" class="fa order-delete"><label>删除</label></a>
                                                    </div>

                                                    <div class="netsable-add-bg" id="nestable-add-9">
                                                        <a href="javascript:;"
                                                           onclick="addNestable('nestable9');"><label
                                                                class="nestable-add">+</label></a>
                                                    </div>

                                                </div>
                                            </li>
                                            <li class="dd-item dd3-item dis-none" id="nestable9" data-id="9"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-9-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-9-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           id="nestable-9-content" style="display:block">

                                                    <div class="bg-order-delete" id="nestable-9-delete">
                                                        <a onclick="nesTableHide('nestable9');" class="fa order-delete"><label>删除</label></a>
                                                    </div>

                                                    <div class="netsable-add-bg" id="nestable-add-10">
                                                        <a href="javascript:;"
                                                           onclick="addNestable('nestable10');"><label
                                                                class="nestable-add">+</label></a>
                                                    </div>

                                                </div>
                                            </li>
                                            <li class="dd-item dd3-item dis-none" id="nestable10" data-id="10"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-10-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-10-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           id="nestable-10-content" style="display:block">

                                                    <div class="bg-order-delete" id="nestable-10-delete">
                                                        <a onclick="nesTableHide('nestable10');"
                                                           class="fa order-delete"><label>删除</label></a>
                                                    </div>

                                                    <div class="netsable-add-bg" id="nestable-add-11">
                                                        <a href="javascript:;"
                                                           onclick="addNestable('nestable11');"><label
                                                                class="nestable-add">+</label></a>
                                                    </div>

                                                </div>
                                            </li>
                                            <li class="dd-item dd3-item dis-none" id="nestable11" data-id="11"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-11-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-11-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           id="nestable-11-content" style="display:block">

                                                    <div class="bg-order-delete" id="nestable-11-delete">
                                                        <a onclick="nesTableHide('nestable11');"
                                                           class="fa order-delete"><label>删除</label></a>
                                                    </div>

                                                    <div class="netsable-add-bg" id="nestable-add-12">
                                                        <a href="javascript:;"
                                                           onclick="addNestable('nestable12');"><label
                                                                class="nestable-add">+</label></a>
                                                    </div>

                                                </div>
                                            </li>
                                            <li class="dd-item dd3-item dis-none" id="nestable12" data-id="12"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-12-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-12-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           id="nestable-12-content" style="display:block">

                                                    <div class="bg-order-delete">
                                                        <a onclick="nesTableHide('nestable12');"
                                                           class="fa order-delete"><label>删除</label></a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </li>

                                    <li class="dd-item dd3-item" data-id="13" id="nestable13" style="display:block">
                                        <div class="dd-handle dd3-handle"></div>
                                        <div class="dd3-content-et">
                                            <div class="order-left-20">
                                                <label class="order-label">1</label>
                                            </div>
                                            <input type="text" id="nestable-13-menu" placeholder="请输入菜单名称："
                                                   class="nestable-et order_input" style="display:block">

                                            <div class="order-left-10" id="nestable-13-2">
                                                <label class="order-label">2</label>
                                            </div>
                                            <label class="order-label left" id="nestable-13-hint">请选择菜单类型:</label>

                                            <select class="dd3-content-et m-bot15 order-select" id="nestable-13-type"
                                                    style="display:block">
                                                <option value="view">链接</option>
                                                <option value="click">文本</option>
                                            </select>

                                            <div class="order-left-10" id="nestable-13-3">
                                                <label class="order-label">3</label>
                                            </div>
                                            <input type="text" placeholder="请输入链接url地址或文本内容："
                                                   class="nestable-et order_input width-250" id="nestable-13-content"
                                                   style="display:block">

                                            <div class="bg-order-delete-ol">
                                                <a onclick="nesTableHide('nestable13');" class="fa order-delete"><label>删除所有</label></a>
                                            </div>

                                            <div class="netsable-add-bg" id="nestable-add-14">
                                                <a href="javascript:;" onclick="addNestable('nestable14')"><label
                                                        class="nestable-add">+</label></a>
                                            </div>
                                        </div>

                                        <ol class="dd-list">
                                            <li class="dd-item dd3-item dis-none" id="nestable14" data-id="14"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-14-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-14-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           placeholder="请输入链接url地址或文本内容："
                                                           id="nestable-14-content" style="display:block">

                                                    <div class="bg-order-delete" id="nestable-14-delete">
                                                        <a onclick="nesTableHide('nestable14');"
                                                           class="fa order-delete"><label>删除</label></a>
                                                    </div>

                                                    <div class="netsable-add-bg" id="nestable-add-15">
                                                        <a href="javascript:;"
                                                           onclick="addNestable('nestable15');"><label
                                                                class="nestable-add">+</label></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item dd3-item dis-none" id="nestable15" data-id="15"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-15-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-15-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           id="nestable-15-content" style="display:block">

                                                    <div class="bg-order-delete" id="nestable-15-delete">
                                                        <a onclick="nesTableHide('nestable15');"
                                                           class="fa order-delete"><label>删除</label></a>
                                                    </div>

                                                    <div class="netsable-add-bg" id="nestable-add-16">
                                                        <a href="javascript:;"
                                                           onclick="addNestable('nestable16');"><label
                                                                class="nestable-add">+</label></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item dd3-item dis-none" id="nestable16" data-id="16"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-16-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-16-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           id="nestable-16-content" style="display:block">

                                                    <div class="bg-order-delete" id="nestable-16-delete">
                                                        <a onclick="nesTableHide('nestable16');"
                                                           class="fa order-delete"><label>删除</label></a>
                                                    </div>

                                                    <div class="netsable-add-bg" id="nestable-add-17">
                                                        <a href="javascript:;"
                                                           onclick="addNestable('nestable17');"><label
                                                                class="nestable-add">+</label></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item dd3-item dis-none" id="nestable17" data-id="17"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-17-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-17-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           id="nestable-17-content" style="display:block">

                                                    <div class="bg-order-delete" id="nestable-17-delete">
                                                        <a onclick="nesTableHide('nestable17');"
                                                           class="fa order-delete"><label>删除</label></a>
                                                    </div>

                                                    <div class="netsable-add-bg" id="nestable-add-18">
                                                        <a href="javascript:;"
                                                           onclick="addNestable('nestable18');"><label
                                                                class="nestable-add">+</label></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dd-item dd3-item dis-none" id="nestable18" data-id="18"
                                                style="display:none">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content-et">
                                                    <div class="order-left-20">
                                                        <label class="order-label">1</label>
                                                    </div>
                                                    <input type="text" id="nestable-18-menu"
                                                           class="nestable-et order_input" style="display:block">

                                                    <div class="order-left-10">
                                                        <label class="order-label">2</label>
                                                    </div>
                                                    <label class="order-label left">请选择菜单类型:</label>

                                                    <select class="dd3-content-et m-bot15 order-select"
                                                            id="nestable-18-type" style="display:block">
                                                        <option value="view">链接</option>
                                                        <option value="click">文本</option>
                                                    </select>

                                                    <div class="order-left-10">
                                                        <label class="order-label">3</label>
                                                    </div>
                                                    <input type="text" class="nestable-et order_input width-250"
                                                           id="nestable-18-content" style="display:block">

                                                    <div class="bg-order-delete">
                                                        <a onclick="nesTableHide('nestable18');"
                                                           class="fa order-delete"><label>删除</label></a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </li>

                                </ol>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!--测试用文本框-->
            <textarea id="nestable_list_1_output" rows="3" class="form-control" style="visibility:visible"></textarea>

        </section>
        <!-- 主容器  -->

        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">删除菜单提示</h4>
                    </div>
                    <div class="modal-body text-center">
                        <span class="left-30 red size-16">删除后将无法恢复！确认要删除该用户信息吗？</span>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <button class="btn btn-warning" type="button" onclick="nesTableHide2();">确认</button>
                    </div>
                </div>
            </div>
            <span style="display:none" id="myModalHide"></span>
        </div>

        <div class="modal fade" id="myModal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">刷新页面提示</h4>
                    </div>
                    <div class="modal-body">
                        页面刷新后将重置菜单！确认要刷新吗？
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <button class="btn btn-warning" type="button" onclick="refresh();">确认</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- 主窗体 -->

    <include file="Public/footer-20"/>

</section>
<!-- SECTION -->

<!-- JS -->

<!--<script src="__PUBLIC__/js/jquery.js"></script>&lt;!&ndash; BASIC JQUERY LIB. JS &ndash;&gt;-->
<script src="__PUBLIC__/js/jquery-3.1.1.min.js"></script><!-- BASIC JQUERY 1.8.3 LIB. JS -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script><!-- BOOTSTRAP JS -->
<script src="__PUBLIC__/js/jquery.dcjqaccordion.2.7.js"></script><!-- 左侧子菜单栏显示 -->
<script src="__PUBLIC__/js/jquery.scrollTo.min.js"></script><!-- SCROLLTO JS -->
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script><!-- NICESCROLL JS -->
<script src="__PUBLIC__/js/respond.min.js"></script><!-- RESPOND JS -->
<script src="__PUBLIC__/js/jquery.sparkline.js"></script><!-- SPARKLINE JS -->
<script src="__PUBLIC__/js/sparkline-chart.js"></script><!-- SPARKLINE CHART JS -->
<script src="__PUBLIC__/js/common-scripts.js"></script><!-- BASIC COMMON JS -->
<script src="__PUBLIC__/assets/nestable/jquery.nestable.js"></script><!-- NESTABLE JS -->
<script src="__PUBLIC__/js/nestable.js"></script><!-- NESTABLE FUNCTION JS -->
<script src="__PUBLIC__/js/checkNestable.js"></script>
<script src="__PUBLIC__/js/sco.message.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/WeChat/setWeChatMenu.js" type="text/javascript"></script>


<!-- JS -->

</body>
</html>


